// -----------------------------------------------
%2017000001 {
	width: 475px;
	height: 181px;
	background-image: url('../img/1705/2017000001.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000001.jpg {
	width: 475px;
	height: 181px;
	background-image: url('../img/1705/2017000001.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000002 {
	width: 459px;
	height: 277px;
	background-image: url('../img/1705/2017000002.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000002.jpg {
	width: 459px;
	height: 277px;
	background-image: url('../img/1705/2017000002.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000004 {
	width: 474px;
	height: 173px;
	background-image: url('../img/1705/2017000004.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000004.jpg {
	width: 474px;
	height: 173px;
	background-image: url('../img/1705/2017000004.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000003 {
	width: 471px;
	height: 270px;
	background-image: url('../img/1705/2017000003.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000003.jpg {
	width: 471px;
	height: 270px;
	background-image: url('../img/1705/2017000003.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000005 {
	width: 473px;
	height: 178px;
	background-image: url('../img/1705/2017000005.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000005.jpg {
	width: 473px;
	height: 178px;
	background-image: url('../img/1705/2017000005.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000007 {
	width: 473px;
	height: 176px;
	background-image: url('../img/1705/2017000007.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000007.jpg {
	width: 473px;
	height: 176px;
	background-image: url('../img/1705/2017000007.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000006 {
	width: 474px;
	height: 177px;
	background-image: url('../img/1705/2017000006.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000006.jpg {
	width: 474px;
	height: 177px;
	background-image: url('../img/1705/2017000006.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000008 {
	width: 488px;
	height: 596px;
	background-image: url('../img/1705/2017000008.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000008.jpg {
	width: 488px;
	height: 596px;
	background-image: url('../img/1705/2017000008.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000011 {
	width: 600px;
	height: 240px;
	background-image: url('../img/1705/2017000011.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000011.png {
	width: 600px;
	height: 240px;
	background-image: url('../img/1705/2017000011.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000009 {
	width: 546px;
	height: 375px;
	background-image: url('../img/1705/2017000009.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000009.jpg {
	width: 546px;
	height: 375px;
	background-image: url('../img/1705/2017000009.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000010 {
	width: 472px;
	height: 352px;
	background-image: url('../img/1705/2017000010.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000010.jpg {
	width: 472px;
	height: 352px;
	background-image: url('../img/1705/2017000010.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000012 {
	width: 600px;
	height: 337px;
	background-image: url('../img/1705/2017000012.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000012.jpg {
	width: 600px;
	height: 337px;
	background-image: url('../img/1705/2017000012.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000016 {
	width: 400px;
	height: 533px;
	background-image: url('../img/1705/2017000016.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000016.jpg {
	width: 400px;
	height: 533px;
	background-image: url('../img/1705/2017000016.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000013 {
	width: 596px;
	height: 622px;
	background-image: url('../img/1705/2017000013.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000013.jpg {
	width: 596px;
	height: 622px;
	background-image: url('../img/1705/2017000013.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000018 {
	width: 600px;
	height: 337px;
	background-image: url('../img/1705/2017000018.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000018.jpg {
	width: 600px;
	height: 337px;
	background-image: url('../img/1705/2017000018.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000017 {
	width: 600px;
	height: 338px;
	background-image: url('../img/1705/2017000017.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000017.jpg {
	width: 600px;
	height: 338px;
	background-image: url('../img/1705/2017000017.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000019 {
	width: 600px;
	height: 235px;
	background-image: url('../img/1705/2017000019.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000019.jpg {
	width: 600px;
	height: 235px;
	background-image: url('../img/1705/2017000019.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000020 {
	width: 600px;
	height: 338px;
	background-image: url('../img/1705/2017000020.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000020.jpg {
	width: 600px;
	height: 338px;
	background-image: url('../img/1705/2017000020.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000022 {
	width: 600px;
	height: 337px;
	background-image: url('../img/1705/2017000022.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000022.jpg {
	width: 600px;
	height: 337px;
	background-image: url('../img/1705/2017000022.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000021 {
	width: 540px;
	height: 346px;
	background-image: url('../img/1705/2017000021.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000021.jpg {
	width: 540px;
	height: 346px;
	background-image: url('../img/1705/2017000021.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000024 {
	width: 546px;
	height: 375px;
	background-image: url('../img/1705/2017000024.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000024.jpg {
	width: 546px;
	height: 375px;
	background-image: url('../img/1705/2017000024.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000023 {
	width: 600px;
	height: 337px;
	background-image: url('../img/1705/2017000023.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000023.jpg {
	width: 600px;
	height: 337px;
	background-image: url('../img/1705/2017000023.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000025 {
	width: 500px;
	height: 375px;
	background-image: url('../img/1705/2017000025.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000025.jpg {
	width: 500px;
	height: 375px;
	background-image: url('../img/1705/2017000025.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000028 {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000028.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000028.jpg {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000028.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000026 {
	width: 790px;
	height: 510px;
	background-image: url('../img/1705/2017000026.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000026.jpg {
	width: 790px;
	height: 510px;
	background-image: url('../img/1705/2017000026.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000027 {
	width: 477px;
	height: 603px;
	background-image: url('../img/1705/2017000027.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000027.jpg {
	width: 477px;
	height: 603px;
	background-image: url('../img/1705/2017000027.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000030 {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000030.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000030.jpg {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000030.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000031 {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000031.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000031.jpg {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000031.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000032 {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000032.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000032.jpg {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000032.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000033 {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000033.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000033.jpg {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000033.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000034 {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000034.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000034.jpg {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000034.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000035 {
	width: 600px;
	height: 318px;
	background-image: url('../img/1705/2017000035.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000035.jpg {
	width: 600px;
	height: 318px;
	background-image: url('../img/1705/2017000035.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000040 {
	width: 600px;
	height: 389px;
	background-image: url('../img/1705/2017000040.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000040.jpg {
	width: 600px;
	height: 389px;
	background-image: url('../img/1705/2017000040.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000041 {
	width: 600px;
	height: 500px;
	background-image: url('../img/1705/2017000041.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000041.jpg {
	width: 600px;
	height: 500px;
	background-image: url('../img/1705/2017000041.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000043 {
	width: 600px;
	height: 388px;
	background-image: url('../img/1705/2017000043.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000043.jpg {
	width: 600px;
	height: 388px;
	background-image: url('../img/1705/2017000043.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000042 {
	width: 600px;
	height: 400px;
	background-image: url('../img/1705/2017000042.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000042.jpg {
	width: 600px;
	height: 400px;
	background-image: url('../img/1705/2017000042.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000046 {
	width: 240px;
	height: 271px;
	background-image: url('../img/1705/2017000046.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000046.jpg {
	width: 240px;
	height: 271px;
	background-image: url('../img/1705/2017000046.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%banner1 {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%banner1.jpg {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg1 {
	width: 1920px;
	height: 70px;
	background-image: url('../img/bg1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg1.png {
	width: 1920px;
	height: 70px;
	background-image: url('../img/bg1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%banner4 {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%banner4.jpg {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%banner2 {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%banner2.jpg {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%banner3 {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%banner3.jpg {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3 {
	width: 1920px;
	height: 945px;
	background-image: url('../img/bg3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3.jpg {
	width: 1920px;
	height: 945px;
	background-image: url('../img/bg3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg2 {
	width: 1920px;
	height: 1151px;
	background-image: url('../img/bg2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg2.jpg {
	width: 1920px;
	height: 1151px;
	background-image: url('../img/bg2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d1 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d1.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4 {
	width: 1920px;
	height: 1151px;
	background-image: url('../img/bg4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4.jpg {
	width: 1920px;
	height: 1151px;
	background-image: url('../img/bg4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d3 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d3.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d4 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d4.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d6 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d6.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d5 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d5.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d7 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d7.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach3 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach3.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d8 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d8.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach1 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach1.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach2 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach2.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%2017000029 {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000029.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%1705-2017000029.jpg {
	width: 600px;
	height: 319px;
	background-image: url('../img/1705/2017000029.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach5 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach5.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach6 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach6.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach7 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach7.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach4 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach4.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach8 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach8.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%logo {
	width: 114px;
	height: 114px;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%logo.png {
	width: 114px;
	height: 114px;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%qrcode {
	width: 86px;
	height: 86px;
	background-image: url('../img/qrcode.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%qrcode.jpg {
	width: 86px;
	height: 86px;
	background-image: url('../img/qrcode.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive4 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive4.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive3 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive3.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d2 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d2.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive1 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive1.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive2 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive2.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn1-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn1-hov.png');
	background-repeat: no-repeat;
}
%slice-btn1-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn1-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%banner-text1 {
	width: 602px;
	height: 314px;
	background-image: url('../img/slice/banner-text1.png');
	background-repeat: no-repeat;
}
%slice-banner-text1.png {
	width: 602px;
	height: 314px;
	background-image: url('../img/slice/banner-text1.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive5 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive5.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive6 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive6.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn3-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn3-hov.png');
	background-repeat: no-repeat;
}
%slice-btn3-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn3-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn1 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn1.png');
	background-repeat: no-repeat;
}
%slice-btn1.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn1.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn4-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn4-hov.png');
	background-repeat: no-repeat;
}
%slice-btn4-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn4-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn2-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn2-hov.png');
	background-repeat: no-repeat;
}
%slice-btn2-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn2-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn3 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn3.png');
	background-repeat: no-repeat;
}
%slice-btn3.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn3.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn2 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn2.png');
	background-repeat: no-repeat;
}
%slice-btn2.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn6-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn6-hov.png');
	background-repeat: no-repeat;
}
%slice-btn6-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn6-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn5-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn5-hov.png');
	background-repeat: no-repeat;
}
%slice-btn5-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn5-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn4 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn4.png');
	background-repeat: no-repeat;
}
%slice-btn4.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn4.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn5 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn5.png');
	background-repeat: no-repeat;
}
%slice-btn5.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn5.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%intro {
	width: 27px;
	height: 25px;
	background-image: url('../img/slice/intro.png');
	background-repeat: no-repeat;
}
%slice-intro.png {
	width: 27px;
	height: 25px;
	background-image: url('../img/slice/intro.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn6 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn6.png');
	background-repeat: no-repeat;
}
%slice-btn6.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn6.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%prev-hov {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/prev-hov.png');
	background-repeat: no-repeat;
}
%slice-prev-hov.png {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/prev-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%next-hov {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/next-hov.png');
	background-repeat: no-repeat;
}
%slice-next-hov.png {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/next-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%next {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/next.png');
	background-repeat: no-repeat;
}
%slice-next.png {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/next.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%prev {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/prev.png');
	background-repeat: no-repeat;
}
%slice-prev.png {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/prev.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title {
	width: 647px;
	height: 99px;
	background-image: url('../img/slice/title.png');
	background-repeat: no-repeat;
}
%slice-title.png {
	width: 647px;
	height: 99px;
	background-image: url('../img/slice/title.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%qq {
	width: 20px;
	height: 20px;
	background-image: url('../img/slice/qq.png');
	background-repeat: no-repeat;
}
%slice-qq.png {
	width: 20px;
	height: 20px;
	background-image: url('../img/slice/qq.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title2 {
	width: 830px;
	height: 99px;
	background-image: url('../img/slice/title2.png');
	background-repeat: no-repeat;
}
%slice-title2.png {
	width: 830px;
	height: 99px;
	background-image: url('../img/slice/title2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title5 {
	width: 752px;
	height: 99px;
	background-image: url('../img/slice/title5.png');
	background-repeat: no-repeat;
}
%slice-title5.png {
	width: 752px;
	height: 99px;
	background-image: url('../img/slice/title5.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title3 {
	width: 631px;
	height: 98px;
	background-image: url('../img/slice/title3.png');
	background-repeat: no-repeat;
}
%slice-title3.png {
	width: 631px;
	height: 98px;
	background-image: url('../img/slice/title3.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title6 {
	width: 444px;
	height: 98px;
	background-image: url('../img/slice/title6.png');
	background-repeat: no-repeat;
}
%slice-title6.png {
	width: 444px;
	height: 98px;
	background-image: url('../img/slice/title6.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title4 {
	width: 631px;
	height: 99px;
	background-image: url('../img/slice/title4.png');
	background-repeat: no-repeat;
}
%slice-title4.png {
	width: 631px;
	height: 99px;
	background-image: url('../img/slice/title4.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%top {
	width: 35px;
	height: 20px;
	background-image: url('../img/slice/top.png');
	background-repeat: no-repeat;
}
%slice-top.png {
	width: 35px;
	height: 20px;
	background-image: url('../img/slice/top.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%qq-hov {
	width: 20px;
	height: 20px;
	background-image: url('../img/slice/qq-hov.png');
	background-repeat: no-repeat;
}
%slice-qq-hov.png {
	width: 20px;
	height: 20px;
	background-image: url('../img/slice/qq-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%top-hov {
	width: 35px;
	height: 20px;
	background-image: url('../img/slice/top-hov.png');
	background-repeat: no-repeat;
}
%slice-top-hov.png {
	width: 35px;
	height: 20px;
	background-image: url('../img/slice/top-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%wb-hov {
	width: 31px;
	height: 25px;
	background-image: url('../img/slice/wb-hov.png');
	background-repeat: no-repeat;
}
%slice-wb-hov.png {
	width: 31px;
	height: 25px;
	background-image: url('../img/slice/wb-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%wb {
	width: 31px;
	height: 25px;
	background-image: url('../img/slice/wb.png');
	background-repeat: no-repeat;
}
%slice-wb.png {
	width: 31px;
	height: 25px;
	background-image: url('../img/slice/wb.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%video {
	width: 36px;
	height: 41px;
	background-image: url('../img/slice/video.png');
	background-repeat: no-repeat;
}
%slice-video.png {
	width: 36px;
	height: 41px;
	background-image: url('../img/slice/video.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%wx-hov {
	width: 33px;
	height: 26px;
	background-image: url('../img/slice/wx-hov.png');
	background-repeat: no-repeat;
}
%slice-wx-hov.png {
	width: 33px;
	height: 26px;
	background-image: url('../img/slice/wx-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story1 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story1.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story2 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story2.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story11 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story11.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story11.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story11.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story22 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story22.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story22.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story22.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story3 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story3.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%wx {
	width: 33px;
	height: 26px;
	background-image: url('../img/slice/wx.png');
	background-repeat: no-repeat;
}
%slice-wx.png {
	width: 33px;
	height: 26px;
	background-image: url('../img/slice/wx.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story33 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story33.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story33.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story33.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story44 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story44.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story44.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story44.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student10 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student10.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student10.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student10.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student1 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student1.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story4 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story4.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student2 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student2.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student3 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student3.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student5 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student5.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student4 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student4.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student6 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student6.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student7 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student7.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student9 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student9.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student9.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student9.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student8 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student8.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%test {
	width: 160px;
	height: 160px;
	background-image: url('../img/test.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%test.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/test.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%video-1 {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%video-1.jpg {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%video-2 {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%video-2.jpg {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%video-3 {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%video-3.jpg {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%video-4 {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%video-4.jpg {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
