// -----------------------------------------------
%banner1 {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%banner1.jpg {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%banner2 {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%banner2.jpg {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%banner3 {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%banner3.jpg {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%banner4 {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%banner4.jpg {
	width: 1920px;
	height: 944px;
	background-image: url('../img/banner4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg2 {
	width: 1920px;
	height: 1151px;
	background-image: url('../img/bg2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg2.jpg {
	width: 1920px;
	height: 1151px;
	background-image: url('../img/bg2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg1 {
	width: 1920px;
	height: 70px;
	background-image: url('../img/bg1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg1.png {
	width: 1920px;
	height: 70px;
	background-image: url('../img/bg1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg3 {
	width: 1920px;
	height: 945px;
	background-image: url('../img/bg3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg3.jpg {
	width: 1920px;
	height: 945px;
	background-image: url('../img/bg3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%bg4 {
	width: 1920px;
	height: 1151px;
	background-image: url('../img/bg4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%bg4.jpg {
	width: 1920px;
	height: 1151px;
	background-image: url('../img/bg4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d1 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d1.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d2 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d2.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d3 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d3.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d4 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d4.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d6 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d6.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d5 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d5.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d7 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d7.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach-d8 {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach-d8.jpg {
	width: 1090px;
	height: 579px;
	background-image: url('../img/coach-d8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach1 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach1.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach2 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach2.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach3 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach3.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach4 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach4.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach5 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach5.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach6 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach6.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach7 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach7.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%coach8 {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%coach8.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/coach8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%logo {
	width: 114px;
	height: 114px;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
%logo.png {
	width: 114px;
	height: 114px;
	background-image: url('../img/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%qrcode {
	width: 86px;
	height: 86px;
	background-image: url('../img/qrcode.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%qrcode.jpg {
	width: 86px;
	height: 86px;
	background-image: url('../img/qrcode.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sbanner {
	width: 750px;
	height: 322px;
	background-image: url('../img/sbanner.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%sbanner.jpg {
	width: 750px;
	height: 322px;
	background-image: url('../img/sbanner.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sbanner2 {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%sbanner2.jpg {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sbanner1 {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%sbanner1.jpg {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sbanner3 {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%sbanner3.jpg {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sbanner4 {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%sbanner4.jpg {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sbanner5 {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%sbanner5.jpg {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sbanner6 {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%sbanner6.jpg {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sbanner7 {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%sbanner7.jpg {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sbanner8 {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%sbanner8.jpg {
	width: 345px;
	height: 194px;
	background-image: url('../img/sbanner8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive1 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive1.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive2 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive2.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive3 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive3.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive4 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive4.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive5 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive5.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%skydive6 {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%skydive6.jpg {
	width: 1920px;
	height: 630px;
	background-image: url('../img/skydive6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%back {
	width: 26px;
	height: 44px;
	background-image: url('../img/slice/back.png');
	background-repeat: no-repeat;
}
%slice-back.png {
	width: 26px;
	height: 44px;
	background-image: url('../img/slice/back.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn1-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn1-hov.png');
	background-repeat: no-repeat;
}
%slice-btn1-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn1-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%banner-text1 {
	width: 602px;
	height: 314px;
	background-image: url('../img/slice/banner-text1.png');
	background-repeat: no-repeat;
}
%slice-banner-text1.png {
	width: 602px;
	height: 314px;
	background-image: url('../img/slice/banner-text1.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn1 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn1.png');
	background-repeat: no-repeat;
}
%slice-btn1.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn1.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn2-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn2-hov.png');
	background-repeat: no-repeat;
}
%slice-btn2-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn2-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn2 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn2.png');
	background-repeat: no-repeat;
}
%slice-btn2.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn3-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn3-hov.png');
	background-repeat: no-repeat;
}
%slice-btn3-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn3-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn3 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn3.png');
	background-repeat: no-repeat;
}
%slice-btn3.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn3.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn4-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn4-hov.png');
	background-repeat: no-repeat;
}
%slice-btn4-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn4-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn4 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn4.png');
	background-repeat: no-repeat;
}
%slice-btn4.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn4.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn5-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn5-hov.png');
	background-repeat: no-repeat;
}
%slice-btn5-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn5-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn5 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn5.png');
	background-repeat: no-repeat;
}
%slice-btn5.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn5.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn6-hov {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn6-hov.png');
	background-repeat: no-repeat;
}
%slice-btn6-hov.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn6-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%btn6 {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn6.png');
	background-repeat: no-repeat;
}
%slice-btn6.png {
	width: 144px;
	height: 145px;
	background-image: url('../img/slice/btn6.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%intro {
	width: 27px;
	height: 25px;
	background-image: url('../img/slice/intro.png');
	background-repeat: no-repeat;
}
%slice-intro.png {
	width: 27px;
	height: 25px;
	background-image: url('../img/slice/intro.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%next-hov {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/next-hov.png');
	background-repeat: no-repeat;
}
%slice-next-hov.png {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/next-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%next {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/next.png');
	background-repeat: no-repeat;
}
%slice-next.png {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/next.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%prev-hov {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/prev-hov.png');
	background-repeat: no-repeat;
}
%slice-prev-hov.png {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/prev-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%prev {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/prev.png');
	background-repeat: no-repeat;
}
%slice-prev.png {
	width: 31px;
	height: 57px;
	background-image: url('../img/slice/prev.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%qq-hov {
	width: 20px;
	height: 20px;
	background-image: url('../img/slice/qq-hov.png');
	background-repeat: no-repeat;
}
%slice-qq-hov.png {
	width: 20px;
	height: 20px;
	background-image: url('../img/slice/qq-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%qq {
	width: 20px;
	height: 20px;
	background-image: url('../img/slice/qq.png');
	background-repeat: no-repeat;
}
%slice-qq.png {
	width: 20px;
	height: 20px;
	background-image: url('../img/slice/qq.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%snext {
	width: 40px;
	height: 40px;
	background-image: url('../img/slice/snext.png');
	background-repeat: no-repeat;
}
%slice-snext.png {
	width: 40px;
	height: 40px;
	background-image: url('../img/slice/snext.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%sprev {
	width: 40px;
	height: 40px;
	background-image: url('../img/slice/sprev.png');
	background-repeat: no-repeat;
}
%slice-sprev.png {
	width: 40px;
	height: 40px;
	background-image: url('../img/slice/sprev.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%stitle2 {
	width: 392px;
	height: 64px;
	background-image: url('../img/slice/stitle2.png');
	background-repeat: no-repeat;
}
%slice-stitle2.png {
	width: 392px;
	height: 64px;
	background-image: url('../img/slice/stitle2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%stitle1 {
	width: 433px;
	height: 65px;
	background-image: url('../img/slice/stitle1.png');
	background-repeat: no-repeat;
}
%slice-stitle1.png {
	width: 433px;
	height: 65px;
	background-image: url('../img/slice/stitle1.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%stitle3 {
	width: 554px;
	height: 64px;
	background-image: url('../img/slice/stitle3.png');
	background-repeat: no-repeat;
}
%slice-stitle3.png {
	width: 554px;
	height: 64px;
	background-image: url('../img/slice/stitle3.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title {
	width: 647px;
	height: 99px;
	background-image: url('../img/slice/title.png');
	background-repeat: no-repeat;
}
%slice-title.png {
	width: 647px;
	height: 99px;
	background-image: url('../img/slice/title.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title2 {
	width: 830px;
	height: 99px;
	background-image: url('../img/slice/title2.png');
	background-repeat: no-repeat;
}
%slice-title2.png {
	width: 830px;
	height: 99px;
	background-image: url('../img/slice/title2.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title3 {
	width: 631px;
	height: 98px;
	background-image: url('../img/slice/title3.png');
	background-repeat: no-repeat;
}
%slice-title3.png {
	width: 631px;
	height: 98px;
	background-image: url('../img/slice/title3.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title4 {
	width: 631px;
	height: 99px;
	background-image: url('../img/slice/title4.png');
	background-repeat: no-repeat;
}
%slice-title4.png {
	width: 631px;
	height: 99px;
	background-image: url('../img/slice/title4.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title5 {
	width: 752px;
	height: 99px;
	background-image: url('../img/slice/title5.png');
	background-repeat: no-repeat;
}
%slice-title5.png {
	width: 752px;
	height: 99px;
	background-image: url('../img/slice/title5.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%top-hov {
	width: 35px;
	height: 20px;
	background-image: url('../img/slice/top-hov.png');
	background-repeat: no-repeat;
}
%slice-top-hov.png {
	width: 35px;
	height: 20px;
	background-image: url('../img/slice/top-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%title6 {
	width: 444px;
	height: 98px;
	background-image: url('../img/slice/title6.png');
	background-repeat: no-repeat;
}
%slice-title6.png {
	width: 444px;
	height: 98px;
	background-image: url('../img/slice/title6.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%top {
	width: 35px;
	height: 20px;
	background-image: url('../img/slice/top.png');
	background-repeat: no-repeat;
}
%slice-top.png {
	width: 35px;
	height: 20px;
	background-image: url('../img/slice/top.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%video {
	width: 36px;
	height: 41px;
	background-image: url('../img/slice/video.png');
	background-repeat: no-repeat;
}
%slice-video.png {
	width: 36px;
	height: 41px;
	background-image: url('../img/slice/video.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%wb-hov {
	width: 31px;
	height: 25px;
	background-image: url('../img/slice/wb-hov.png');
	background-repeat: no-repeat;
}
%slice-wb-hov.png {
	width: 31px;
	height: 25px;
	background-image: url('../img/slice/wb-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%wb {
	width: 31px;
	height: 25px;
	background-image: url('../img/slice/wb.png');
	background-repeat: no-repeat;
}
%slice-wb.png {
	width: 31px;
	height: 25px;
	background-image: url('../img/slice/wb.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%wx {
	width: 33px;
	height: 26px;
	background-image: url('../img/slice/wx.png');
	background-repeat: no-repeat;
}
%slice-wx.png {
	width: 33px;
	height: 26px;
	background-image: url('../img/slice/wx.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%wx-hov {
	width: 33px;
	height: 26px;
	background-image: url('../img/slice/wx-hov.png');
	background-repeat: no-repeat;
}
%slice-wx-hov.png {
	width: 33px;
	height: 26px;
	background-image: url('../img/slice/wx-hov.png');
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story11 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story11.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story11.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story11.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story2 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story2.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story1 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story1.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story22 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story22.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story22.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story22.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story3 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story3.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story33 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story33.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story33.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story33.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story4 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story4.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%story44 {
	width: 280px;
	height: 280px;
	background-image: url('../img/story44.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%story44.jpg {
	width: 280px;
	height: 280px;
	background-image: url('../img/story44.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student1 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student1.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student10 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student10.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student10.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student10.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student2 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student2.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student4 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student4.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student3 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student3.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student5 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student5.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student5.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student7 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student7.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student7.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student6 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student6.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student6.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student8 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student8.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student8.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%student9 {
	width: 160px;
	height: 160px;
	background-image: url('../img/student9.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%student9.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/student9.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%test {
	width: 160px;
	height: 160px;
	background-image: url('../img/test.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%test.jpg {
	width: 160px;
	height: 160px;
	background-image: url('../img/test.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%video-1 {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%video-1.jpg {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%video-3 {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%video-3.jpg {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%video-2 {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%video-2.jpg {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-2.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
// -----------------------------------------------
%video-4 {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
%video-4.jpg {
	width: 280px;
	height: 160px;
	background-image: url('../img/video-4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}
// -----------------------------------------------
