// CSS Sprites切片样式
%add-hov {
    width: 13px;
    height: 13px;
    background-image: url(../slice/add-hov.png);
    background-repeat: no-repeat;
}
%add {
    width: 13px;
    height: 13px;
    background-image: url(../slice/add.png);
    background-repeat: no-repeat;
}
%alert {
    width: 2px;
    height: 6px;
    background-image: url(../slice/alert.png);
    background-repeat: no-repeat;
}
%checked {
    width: 20px;
    height: 20px;
    background-image: url(../slice/checked.png);
    background-repeat: no-repeat;
}
%delete-hov {
    width: 13px;
    height: 12px;
    background-image: url(../slice/delete-hov.png);
    background-repeat: no-repeat;
}
%delete {
    width: 13px;
    height: 12px;
    background-image: url(../slice/delete.png);
    background-repeat: no-repeat;
}
%next-hover {
    width: 8px;
    height: 13px;
    background-image: url(../slice/next-hover.png);
    background-repeat: no-repeat;
}
%next {
    width: 8px;
    height: 13px;
    background-image: url(../slice/next.png);
    background-repeat: no-repeat;
}
%pause-hov {
    width: 6px;
    height: 10px;
    background-image: url(../slice/pause-hov.png);
    background-repeat: no-repeat;
}
%pause {
    width: 6px;
    height: 10px;
    background-image: url(../slice/pause.png);
    background-repeat: no-repeat;
}
%pnum {
    width: 14px;
    height: 12px;
    background-image: url(../slice/pnum.png);
    background-repeat: no-repeat;
}
%pop-alert {
    width: 48px;
    height: 48px;
    background-image: url(../slice/pop-alert.png);
    background-repeat: no-repeat;
}
%pop-alert2 {
    width: 48px;
    height: 48px;
    background-image: url(../slice/pop-alert2.png);
    background-repeat: no-repeat;
}
%pop-close {
    width: 12px;
    height: 12px;
    background-image: url(../slice/pop-close.png);
    background-repeat: no-repeat;
}
%prev-hover {
    width: 8px;
    height: 13px;
    background-image: url(../slice/prev-hover.png);
    background-repeat: no-repeat;
}
%prev {
    width: 8px;
    height: 13px;
    background-image: url(../slice/prev.png);
    background-repeat: no-repeat;
}
%radio-checked {
    width: 14px;
    height: 14px;
    background-image: url(../slice/radio-checked.png);
    background-repeat: no-repeat;
}
%radio {
    width: 14px;
    height: 14px;
    background-image: url(../slice/radio.png);
    background-repeat: no-repeat;
}
%reupload {
    width: 16px;
    height: 14px;
    background-image: url(../slice/reupload.png);
    background-repeat: no-repeat;
}
%search-hov {
    width: 16px;
    height: 16px;
    background-image: url(../slice/search-hov.png);
    background-repeat: no-repeat;
}
%search {
    width: 16px;
    height: 16px;
    background-image: url(../slice/search.png);
    background-repeat: no-repeat;
}
%start-hov {
    width: 8px;
    height: 12px;
    background-image: url(../slice/start-hov.png);
    background-repeat: no-repeat;
}
%start {
    width: 8px;
    height: 12px;
    background-image: url(../slice/start.png);
    background-repeat: no-repeat;
}
%status-pause-hov {
    width: 6px;
    height: 10px;
    background-image: url(../slice/status-pause-hov.png);
    background-repeat: no-repeat;
}
%status-pause {
    width: 6px;
    height: 10px;
    background-image: url(../slice/status-pause.png);
    background-repeat: no-repeat;
}
%status-reload-hov {
    width: 12px;
    height: 12px;
    background-image: url(../slice/status-reload-hov.png);
    background-repeat: no-repeat;
}
%status-reload {
    width: 12px;
    height: 12px;
    background-image: url(../slice/status-reload.png);
    background-repeat: no-repeat;
}
%status-start-hov {
    width: 8px;
    height: 12px;
    background-image: url(../slice/status-start-hov.png);
    background-repeat: no-repeat;
}
%status-start {
    width: 8px;
    height: 12px;
    background-image: url(../slice/status-start.png);
    background-repeat: no-repeat;
}
%step-alert {
    width: 12px;
    height: 12px;
    background-image: url(../slice/step-alert.png);
    background-repeat: no-repeat;
}
%tag-close {
    width: 7px;
    height: 7px;
    background-image: url(../slice/tag-close.png);
    background-repeat: no-repeat;
}
%upload-cover-hov {
    width: 320px;
    height: 180px;
    background-image: url(../slice/upload-cover-hov.png);
    background-repeat: no-repeat;
}
%upload-cover {
    width: 320px;
    height: 180px;
    background-image: url(../slice/upload-cover.png);
    background-repeat: no-repeat;
}
%upload-icon-hov {
    width: 140px;
    height: 140px;
    background-image: url(../slice/upload-icon-hov.png);
    background-repeat: no-repeat;
}
%upload-icon {
    width: 140px;
    height: 140px;
    background-image: url(../slice/upload-icon.png);
    background-repeat: no-repeat;
}
