// CSS Sprites切片样式
%banner-text1 {
    width: 602px;
    height: 314px;
    background-image: url(../slice/banner-text1.png);
    background-repeat: no-repeat;
}
%btn1-hov {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn1-hov.png);
    background-repeat: no-repeat;
}
%btn1 {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn1.png);
    background-repeat: no-repeat;
}
%btn2-hov {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn2-hov.png);
    background-repeat: no-repeat;
}
%btn2 {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn2.png);
    background-repeat: no-repeat;
}
%btn3-hov {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn3-hov.png);
    background-repeat: no-repeat;
}
%btn3 {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn3.png);
    background-repeat: no-repeat;
}
%btn4-hov {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn4-hov.png);
    background-repeat: no-repeat;
}
%btn4 {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn4.png);
    background-repeat: no-repeat;
}
%btn5-hov {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn5-hov.png);
    background-repeat: no-repeat;
}
%btn5 {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn5.png);
    background-repeat: no-repeat;
}
%btn6-hov {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn6-hov.png);
    background-repeat: no-repeat;
}
%btn6 {
    width: 144px;
    height: 145px;
    background-image: url(../slice/btn6.png);
    background-repeat: no-repeat;
}
%intro {
    width: 27px;
    height: 25px;
    background-image: url(../slice/intro.png);
    background-repeat: no-repeat;
}
%next-hov {
    width: 31px;
    height: 57px;
    background-image: url(../slice/next-hov.png);
    background-repeat: no-repeat;
}
%next {
    width: 31px;
    height: 57px;
    background-image: url(../slice/next.png);
    background-repeat: no-repeat;
}
%prev-hov {
    width: 31px;
    height: 57px;
    background-image: url(../slice/prev-hov.png);
    background-repeat: no-repeat;
}
%prev {
    width: 31px;
    height: 57px;
    background-image: url(../slice/prev.png);
    background-repeat: no-repeat;
}
%qq-hov {
    width: 20px;
    height: 20px;
    background-image: url(../slice/qq-hov.png);
    background-repeat: no-repeat;
}
%qq {
    width: 20px;
    height: 20px;
    background-image: url(../slice/qq.png);
    background-repeat: no-repeat;
}
%title {
    width: 647px;
    height: 99px;
    background-image: url(../slice/title.png);
    background-repeat: no-repeat;
}
%title2 {
    width: 830px;
    height: 99px;
    background-image: url(../slice/title2.png);
    background-repeat: no-repeat;
}
%title3 {
    width: 631px;
    height: 98px;
    background-image: url(../slice/title3.png);
    background-repeat: no-repeat;
}
%title4 {
    width: 631px;
    height: 99px;
    background-image: url(../slice/title4.png);
    background-repeat: no-repeat;
}
%title5 {
    width: 752px;
    height: 99px;
    background-image: url(../slice/title5.png);
    background-repeat: no-repeat;
}
%title6 {
    width: 444px;
    height: 98px;
    background-image: url(../slice/title6.png);
    background-repeat: no-repeat;
}
%top-hov {
    width: 35px;
    height: 20px;
    background-image: url(../slice/top-hov.png);
    background-repeat: no-repeat;
}
%top {
    width: 35px;
    height: 20px;
    background-image: url(../slice/top.png);
    background-repeat: no-repeat;
}
%wb-hov {
    width: 31px;
    height: 25px;
    background-image: url(../slice/wb-hov.png);
    background-repeat: no-repeat;
}
%wb {
    width: 31px;
    height: 25px;
    background-image: url(../slice/wb.png);
    background-repeat: no-repeat;
}
%wx-hov {
    width: 33px;
    height: 26px;
    background-image: url(../slice/wx-hov.png);
    background-repeat: no-repeat;
}
%wx {
    width: 33px;
    height: 26px;
    background-image: url(../slice/wx.png);
    background-repeat: no-repeat;
}
