@charset "UTF-8";
%ani{transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;}
@import "base/base";
@import "common/reset";
@import "img";
@import "common/mixins";
@import "component/ui";
@import "common/grid";
@import "structure/header";
@import "structure/swiper-3.4.2.min";
body {
    font: 300 12px/1.5 "San Francisco", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
    a {
        text-decoration: none;
        color: #333;
        &:hover {
            text-decoration: underline;
            color: #333;
        }
    }
}
// Coding...
body,html{
    background: #f7f7f7;
}

.col-title1{
    @extend %title;
    margin: 0 auto;
}
.skydive-nav{
    text-align: center;
    position: static;
    margin: 65px 0 50px;
    span{
        display: inline-block;
        cursor: pointer;
        margin: 0 14px!important;
        opacity: 1;
    }
    .skydive-nav1{
        @extend %btn1;
        &:hover,&.swiper-pagination-bullet-active{
            @extend %btn1-hov;
        }
    }
    .skydive-nav2{
        @extend %btn2;
        &:hover,&.swiper-pagination-bullet-active{
            @extend %btn2-hov;
        }
    }
    .skydive-nav3{
        @extend %btn3;
        &:hover,&.swiper-pagination-bullet-active{
            @extend %btn3-hov;
        }
    }
    .skydive-nav4{
        @extend %btn4;
        &:hover,&.swiper-pagination-bullet-active{
            @extend %btn4-hov;
        }
    }
    .skydive-nav5{
        @extend %btn5;
        &:hover,&.swiper-pagination-bullet-active{
            @extend %btn5-hov;
        }
    }
    .skydive-nav6{
        @extend %btn6;
        &:hover,&.swiper-pagination-bullet-active{
            @extend %btn6-hov;
        }
    }
}
.skydive-cont{
    .swiper-slide{
        width: 100%;
        height: 630px;
        overflow: hidden;
        position: relative;
        img{
            width: 1920px;
            position: absolute;
            left:50%;
            top:0;
            margin-left:-960px;
        }
    }
    .sky-cont-intro{
        position: absolute;
    }
}
.sky-cont-intro{
    position: absolute;
    width: 280px;
    min-height:246px;
    background: #f7f7f7;
    top:0;
    z-index: 101;
    left:50%;
    box-sizing: border-box;
    padding: 18px 38px 0;
    h2{
        color: #333;
        font-size: 33px;
        padding-bottom:30px;
    }

    p{
        color: #333;
        font-size: 15px;
        line-height: 30px;
    }
}
.sky-cont-intro-l{
    margin-left:-538px;
}
.sky-cont-intro-r{
    margin-left:235px;
}
.skydive{
    margin-bottom:120px;
}
.line{
    width: 50px;
    height: 2px;
    background: #f6b226;
    margin-bottom:30px;
}

.col-title2{
    @extend %title2;
    margin: 0 auto;
}

.coach-preview{
    height: 160px;
    position: relative;
    margin-bottom:20px;
    margin-top:38px;
    .swiper-container{
        width: 1080px;
        height: 160px;
        overflow: hidden;
        margin-left:57px;
    }
    .coach-preview-wrap{
        @include clearfix;
        li{
            float:left;
            width: 160px;
            height: 160px;
            position: relative;
            overflow: hidden;
            cursor:pointer;
            margin-right:20px;
            &:hover{
                .coach-preview-bg{
                    @include opacity(1);
                }
            }
            &.preview-on{
                .coach-preview-bg{
                    @include opacity(1);
                }
            }
        }
    }

    .coach-preview-bg{
        width: 160px;
        height: 160px;
        position: absolute;
        top:0;
        left:0;
        background: rgba(3, 110, 182, 0.8);
        text-align: center;
        color: #fff;
        font-size: 20px;
        line-height: 160px;
        @extend %ani;
        @include opacity(0);
        z-index: 99;
    }
}
.prev-btn,.next-btn{
    position: absolute;
    top:52px;
}
.prev-btn{
    left:0;
    @extend %prev;
    &:hover{
        @extend %prev-hov;
    }
}
.next-btn{
    right:0;
    @extend %next;
    &:hover{
        @extend %next-hov;
    }
}
.coach-view{
    .swiper-wrapper{
        width: 100%;
        height: 579px;
        overflow: hidden;
        .swiper-slide{
            position: relative;
            width: 100%;
            height: 579px;
            img{
                position: absolute;
                left:50%;
                margin-left:-969px;
                top:0;
            }
            .coach-detail{
                width: 830px;
                background: #036eb6;
                box-sizing: border-box;
                height: 579px;
                padding: 65px 0 0 40px;
                position: absolute;
                left:50%;
                margin-left:121px;
                z-index: 100;
                h3{
                    color: #fff;
                    font-size: 40px;
                    padding-bottom:30px;
                }
                p{
                    width: 388px;
                    font-size: 15px;
                    line-height: 30px;
                    color: #fff;
                }
            }
        }
    }
}
.prev-hidden-btn,.next-hidden-btn{
    @include opacity(0);
}
.coachteam{
    margin-bottom:118px;
}
.col-title3{
    @extend %title3;
    margin: 0 auto 45px;
}
.moment{
    @include clearfix;
    margin-right:-20px;
    margin-bottom: 135px;
    li{
        float:left;
        margin-right:20px;
        a{
            display: block;
            background: #fff;
            width:280px;
            height: 260px;
            position: relative;
            @extend %ani;
            cursor: pointer;
            &:hover{
                box-shadow: 0 3px 2px #f1f1f1;
                .moment-hov{
                    @include opacity(1);
                }
            }
        }
        .moment-hov{
            position: absolute;
            @include opacity(0);
            width: 100%;
            height: 160px;
            top: 0;
            left: 0;
            background: rgba(3, 110, 182, 0.8);
            z-index: 100;
            @extend %ani;
            i{
                display: block;
                @extend %video;
                position: absolute;
                left:124px;
                top:63px;
            }
        }
        img{
            display: block;
            width: 100%;
            height: 160px;
        }
        p{
            color: #036eb6;
            font-size: 18px;
            line-height: 18px;
            margin: 20px 0 12px 20px;
            @include ellipsis(248px)
        }
        blockquote{
            color: #999;
            font-size: 14px;
            margin-left:20px;
        }
    }
}
.story{
    width: 100%;
    height: 945-120px;
    padding-top:120px;
    background: url(../img/bg3.jpg) no-repeat center;
    margin-bottom:118px;
}
.col-title4{
    @extend %title4;
    margin: 0 auto 33px;
}
.story-link{
    margin-right:-20px;
    li{
        float:left;
        width: 280px;
        margin-right:20px;
        a{
            display: block;
            width: 280px;
            height: 280px;
            overflow: hidden;
            position: relative;
            .story-link-hov{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(3, 110, 182, 0.8);
                top:0;
                left:0;
                z-index: 99;
                @include opacity(0);
                @extend %ani;
                span{
                    display: block;
                    width: 162px;
                    height: 51px;
                    box-sizing: border-box;
                    text-align: center;
                    line-height: 51px;
                    color: #fff;
                    font-size: 18px;
                    border:2px solid #81b7db;
                    left:50%;
                    top:50%;
                    margin-top:-25px;
                    margin-left:-81px;
                    position: absolute;
                }
            }
            &:hover{
                .story-link-hov{
                    @include opacity(1);
                }
            }
        }
    }
}
.story-link-detail{
    width: 100%;
    height: 280px;
    background: #fff;
    box-sizing: border-box;
    padding: 50px 30px;
    position: relative;
    p{
        color: #333;
        font-size: 14px;
        line-height: 26px;
        word-break: break-all;
        height: 165px;
        overflow: hidden;
        i{
            display: inline-block;
            @extend %intro;
            margin-right:12px;
        }
    }
    span{
        color: #999;
        font-size: 14px;
        position: absolute;
        right:30px;
        bottom:30px;
    }
}
.col-title5{
    @extend %title5;
    margin: 0 auto 38px;
}
.coach-preview2{
    height: 210px;
    margin-bottom:90px;
    .coach-preview-wrap{
        li{
            overflow: visible;
            border-radius:160px;
            img,.coach-preview-bg{
                border-radius:160px;
            }
        }
    }
    .swiper-container{
        height: 210px;
    }
}
.coach-preview-title{
    color: #333;
    font-size: 18px;
    text-align: center;
    margin-top:16px;
}

.address{
    width: 100%;
    height: 1151-135px;
    padding-top:135px;
    background: url(../img/bg4.jpg) no-repeat center;
}
.col-title6{
    @extend %title6;
    margin: 0 auto 50px;
}
.address-col{
    width: 100%;
    height: 330px;
    margin-bottom: 58px;
}
.address-col-detail{
    width: 760px;
    height: 330px;
    float:left;
}
.address-col-intro{
    width: 1180-760px;
    height: 330px;
    background: #fff;
    box-sizing: border-box;
    padding-top:42px;
    padding-left:25px;
    float:left;
    h3{
        color: #333;
        font-size: 33px;
        line-height: 33px;
        padding-bottom:25px;
    }
    p{
        font-size: 14px;
        line-height: 30px;
        color: #333;
    }
}
footer{
    background: #000;
    height: 235px;
}
.footer-link{
    padding-top:50px;
    color: #999;
    padding-bottom:25px;
    border-bottom:1px solid #333;
    margin-bottom:25px;
    a{
        color: #999;
        font-size: 14px;
        padding:0 18px;
        &:hover{
            color: #ccc;
        }
        &.pr-0{
            padding-left:0;
        }
    }
    span{
        color: #ccc;
        font-size: 18px;
        float:right;
    }
}
.footer-copyright{
    color: #666;
    font-size: 12px;
    position: relative;
    width: 100%;
}
#bdshare{
    position: absolute;
    right:0;
    bottom:-5px;
    a{
        margin: 0 15px;
    }
    .bds_more{
        display: none;
    }
    .bds_tsina{
        @extend %wb;
        &:hover{
            @extend %wb-hov;
            opacity: 1;
        }
    }
    .bds_weixin{
        @extend %wx;
        &:hover{
            @extend %wx-hov;
            opacity: 1;
        }
    }
    .bds_sqq{
        @extend %qq;
        &:hover{
            @extend %qq-hov;
            opacity: 1;
        }
    }
}
aside{
    float:left;
    width: 300px;
    padding-top:80-22px;
    ul{
        li{
            width: 224+10px;
            text-align: center;
            height: 50-28px;
            padding: 14px 0;
            line-height: 50px;
            margin-bottom:1px;
            background: #fff;
            &.current{
                a{
                    border-left:4px solid #036eb6;
                }
                a{
                    color: #036eb6;
                }
            }
            a{
                display: block;
                color: #333;
                font-size: 16px;
                margin-left:10px;
                height: 24px;
                line-height: 24px;
            }
        }
    }
}
.art-cont{
    width: 1180-300px;
    float:left;
    padding-bottom:50px;
    article{
        h1{
            color: #333;
            font-size: 36px;
            line-height: 38px;
            text-align: center;
            margin-bottom: 20px;
        }
        blockquote{
            padding-bottom:20px;
            color: #999;
            font-size: 12px;
            text-align: center;
            border-bottom:1px solid #e9e9e9;
            margin-bottom:54px;
        }
        p{
            color: #333;
            font-size: 17px;
            line-height: 34px;
            text-indent: 2em;
            margin-bottom:20px;
        }
        strong{
            font-weight: 600;
        }
        img{
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }

    .story-link,.moment{
        li{
            margin-bottom:50px;
        }
    }

}
.art-box{
    border:8px solid #ddd;
    box-sizing: border-box;
    width: 238px;
    height: 158px;
    text-align: center;
    margin-bottom:35px;
    p{
        color: #333;
        font-size: 34px;
        padding-top:48px;
    }
    blockquote{
        color: #f6b42d;
        font-size: 20px;
    }
}
.art-bread{
    font-size: 14px;
    color: #333;
    padding-bottom:18px;
    border-bottom:1px solid #e9e9e9;
    margin-bottom: 50px;
    span{
        color: #036eb6;
    }
}
.page-nav{
    text-align: center;
    margin-top:-40px;
    a,span{
        display: inline-block;
        background: #fff;
        color: #000;
        font-size: 12px;
        text-align: center;
        height: 31px;
        box-sizing: border-box;
        line-height: 31px;
        border:1px solid #ddd;
        width: 31px;
        margin: 0 10px;
        cursor:pointer;
        &.jp-current{
            background: #036eb6;
            color: #fff;
            border-color:#8fbad7;
        }
    }
    .jp-previous,.jp-next{
        width: 64px;
    }
}
#video-pop{
    width: 600px;
    height: 400px;
    position: fixed;
    left:50%;
    top:50%;
    margin-left:-300px;
    margin-top:-200px;
    z-index: 100;
}
#video-wrap{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 50;
}
.hide{
    display: none;
}
//响应式
@import "component/responsive";