<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
    <title>鹰飞</title>
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/eglefly.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="dns-prefetch" href="http://v.huya.com">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>
<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>双人高空跳伞</p>
            <blockquote>SKYDIVE</blockquote>
        </div>
        <ul>
            <li class="current"><a href="">双人跳伞</a></li>
            <li><a href="">跳伞价格</a></li>
            <li><a href="">常见问题</a></li>
            <li><a href="">预定跳伞</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 双人高空跳伞 > <span>双人跳伞</span></div>
        <article>
            <h1>双人跳伞这里是标题</h1>
            <blockquote>发布时间：2016-08-24 10:38:00</blockquote>
            <p>技术的进步让跳伞变得越来越安全，安全到伤亡率比高尔夫球还要低。正因如此越来越多的人选择参与到跳伞运动中来。据全世界最大跳伞协会USPA（美国跳伞协会）统计，其本土注册会员就有3万4千名之多，跳伞基地也是数不胜数。2014年美国本土约有35万人完成了超过300万次的跳伞。</p>
            <p>首先您将参加我们的地面学校培训，旨在让您了解跳伞运动并有一个更轻松快乐的跳伞体验。别担心无聊和浪费时间，这段时间您会感觉转瞬即逝，尤其是在您对跳伞心生恐惧一无所知的时候。</p>
            <p>接着您会穿上最新最安全的跳伞装备登上全球多功能机之王皮拉图斯PC-6固定翼飞机起飞，和拥有丰富经验（注意！鹰飞的教练双人跳伞次数可都超过了1000次）双人伞教练一起从4000米的高空一跃而下，以接近200公里的时速自由落体60秒，在1500米高度开伞后操纵降落伞缓缓回到地球表面，当然！我们也有能力满足您激烈驾驶的欲望 ！（如果您愿意，我们会培训您简单的自由落体动作、自主开伞和驾伞技巧，让您这次旅程飞得更自在）</p>
        </article>
    </section>
</div>
<% include partial/footer %>
<script type="text/javascript" src="js/sea.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>