<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
    <title>鹰飞</title>
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/eglefly.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="dns-prefetch" href="http://v.huya.com">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>
<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>双人高空跳伞</p>
            <blockquote>SKYDIVE</blockquote>
        </div>
        <ul>
            <li class="current"><a href="">双人跳伞</a></li>
            <li><a href="">跳伞价格</a></li>
            <li><a href="">常见问题</a></li>
            <li><a href="">预定跳伞</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 双人高空跳伞 > <span>双人跳伞</span></div>
        <h1>双人跳伞这里是标题</h1>
        <blockquote>发布时间：2016-08-24 10:38:00</blockquote>
        <p>范德萨范德萨范德萨分的范德萨范德萨范德萨分的范德萨范德萨范德萨分的范德萨范德萨范德萨分的范德萨范德萨范德萨分的范德萨范德萨范德萨分的范德萨范德萨范德萨分的范德萨范德萨范德萨分的范德萨范德萨范德萨分的</p>
    </section>
</div>
<% include partial/footer %>
<script type="text/javascript" src="js/sea.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>