<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
    <title>鹰飞</title>
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/eglefly.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="dns-prefetch" href="http://v.huya.com">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>
<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>图片视频</p>
            <blockquote>Photo&Video</blockquote>
        </div>
        <ul>
            <li class="current"><a href="">跳伞图片</a></li>
            <li><a href="">跳伞视频</a></li>
            <li><a href="">跳伞故事</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 双人高空跳伞 > <span>双人跳伞</span></div>
        <ul class="story-link" id="list">
            <li>
                <a href="">
                    <img src="img/story1.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>去年的夏天，一个突然的决定， 改变了我的人生。去年……“下个月订婚吧”  我呆了一下:“奥……”那一瞬间，我把我们从认识到目前的五年的点点滴滴回忆了一遍，没错 我很爱这个女孩 我们确实应该结婚了，我确实要给那么爱我的她一个交代，那一瞬间</p>
                    <span>吕震</span></div>
            </li>
            <li><a href=""><img src="img/story2.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>我回想起不知怎么被教练挪动到舱门口，更记得的是坐在舱门口脚和脸被风吹歪，望着眼前的一切，想问点什么说点什么却在不到十秒后被推出了飞机</p>
                    <span>宋斯益</span></div>
            </li>
            <li><a href=""><img src="img/story3.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>2016年1月5日晚，我和张先生按照约定的时间提前一晚来到了阳江，那是一个晴朗的夜晚，对于天亮后的未知我既兴奋又紧张，那种情绪的高度甚至忽略了张先生的状态，也忘了做过什么样的梦</p>
                    <span>夏喜欢</span></div>
            </li>
            <li><a href=""><img src="img/story4.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>来自德国弗赖堡的一对新人，32岁的Jessy Schild和46岁的Ingo Mueller在空中完成了结婚典礼。他们在13000英尺高的飞机上互相宣誓，随即连同伴郎、伴娘，甚至还有见证他们的牧师一同跳伞，享受心跳加速的一刻。</p>
                    <span>特闺蜜</span></div>
            </li>
            <li><a href=""><img src="img/story3.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>2016年1月5日晚，我和张先生按照约定的时间提前一晚来到了阳江，那是一个晴朗的夜晚，对于天亮后的未知我既兴奋又紧张，那种情绪的高度甚至忽略了张先生的状态，也忘了做过什么样的梦</p>
                    <span>夏喜欢</span></div>
            </li>
            <li><a href=""><img src="img/story4.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>来自德国弗赖堡的一对新人，32岁的Jessy Schild和46岁的Ingo Mueller在空中完成了结婚典礼。他们在13000英尺高的飞机上互相宣誓，随即连同伴郎、伴娘，甚至还有见证他们的牧师一同跳伞，享受心跳加速的一刻。</p>
                    <span>特闺蜜</span></div>
            </li>
            <li><a href=""><img src="img/story4.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>来自德国弗赖堡的一对新人，32岁的Jessy Schild和46岁的Ingo Mueller在空中完成了结婚典礼。他们在13000英尺高的飞机上互相宣誓，随即连同伴郎、伴娘，甚至还有见证他们的牧师一同跳伞，享受心跳加速的一刻。</p>
                    <span>特闺蜜</span></div>
            </li>
            <li><a href=""><img src="img/story3.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>2016年1月5日晚，我和张先生按照约定的时间提前一晚来到了阳江，那是一个晴朗的夜晚，对于天亮后的未知我既兴奋又紧张，那种情绪的高度甚至忽略了张先生的状态，也忘了做过什么样的梦</p>
                    <span>夏喜欢</span></div>
            </li>
            <li><a href=""><img src="img/story4.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>来自德国弗赖堡的一对新人，32岁的Jessy Schild和46岁的Ingo Mueller在空中完成了结婚典礼。他们在13000英尺高的飞机上互相宣誓，随即连同伴郎、伴娘，甚至还有见证他们的牧师一同跳伞，享受心跳加速的一刻。</p>
                    <span>特闺蜜</span></div>
            </li>
            <li>
                <a href="">
                    <img src="img/story1.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>去年的夏天，一个突然的决定， 改变了我的人生。去年……“下个月订婚吧”  我呆了一下:“奥……”那一瞬间，我把我们从认识到目前的五年的点点滴滴回忆了一遍，没错 我很爱这个女孩 我们确实应该结婚了，我确实要给那么爱我的她一个交代，那一瞬间</p>
                    <span>吕震</span></div>
            </li>
            <li><a href=""><img src="img/story2.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>我回想起不知怎么被教练挪动到舱门口，更记得的是坐在舱门口脚和脸被风吹歪，望着眼前的一切，想问点什么说点什么却在不到十秒后被推出了飞机</p>
                    <span>宋斯益</span></div>
            </li>
            <li><a href=""><img src="img/story3.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>2016年1月5日晚，我和张先生按照约定的时间提前一晚来到了阳江，那是一个晴朗的夜晚，对于天亮后的未知我既兴奋又紧张，那种情绪的高度甚至忽略了张先生的状态，也忘了做过什么样的梦</p>
                    <span>夏喜欢</span></div>
            </li>
            <li><a href=""><img src="img/story4.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>来自德国弗赖堡的一对新人，32岁的Jessy Schild和46岁的Ingo Mueller在空中完成了结婚典礼。他们在13000英尺高的飞机上互相宣誓，随即连同伴郎、伴娘，甚至还有见证他们的牧师一同跳伞，享受心跳加速的一刻。</p>
                    <span>特闺蜜</span></div>
            </li>
            <li><a href=""><img src="img/story3.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>2016年1月5日晚，我和张先生按照约定的时间提前一晚来到了阳江，那是一个晴朗的夜晚，对于天亮后的未知我既兴奋又紧张，那种情绪的高度甚至忽略了张先生的状态，也忘了做过什么样的梦</p>
                    <span>夏喜欢</span></div>
            </li>
            <li><a href=""><img src="img/story4.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>来自德国弗赖堡的一对新人，32岁的Jessy Schild和46岁的Ingo Mueller在空中完成了结婚典礼。他们在13000英尺高的飞机上互相宣誓，随即连同伴郎、伴娘，甚至还有见证他们的牧师一同跳伞，享受心跳加速的一刻。</p>
                    <span>特闺蜜</span></div>
            </li>
            <li><a href=""><img src="img/story4.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>来自德国弗赖堡的一对新人，32岁的Jessy Schild和46岁的Ingo Mueller在空中完成了结婚典礼。他们在13000英尺高的飞机上互相宣誓，随即连同伴郎、伴娘，甚至还有见证他们的牧师一同跳伞，享受心跳加速的一刻。</p>
                    <span>特闺蜜</span></div>
            </li>
            <li><a href=""><img src="img/story3.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>2016年1月5日晚，我和张先生按照约定的时间提前一晚来到了阳江，那是一个晴朗的夜晚，对于天亮后的未知我既兴奋又紧张，那种情绪的高度甚至忽略了张先生的状态，也忘了做过什么样的梦</p>
                    <span>夏喜欢</span></div>
            </li>
            <li><a href=""><img src="img/story4.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>来自德国弗赖堡的一对新人，32岁的Jessy Schild和46岁的Ingo Mueller在空中完成了结婚典礼。他们在13000英尺高的飞机上互相宣誓，随即连同伴郎、伴娘，甚至还有见证他们的牧师一同跳伞，享受心跳加速的一刻。</p>
                    <span>特闺蜜</span></div>
            </li>
        </ul>
        <div class="page-nav"></div>
    </section>
</div>
<% include partial/footer %>
<script type="text/javascript" src="js/sea.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>