<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
    <title>鹰飞</title>
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/eglefly.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="dns-prefetch" href="http://v.huya.com">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body>
<% include partial/header %>
<div class="col-title1"></div>
<div class="skydive swiper-container"  id="swiper2">
    <div class="skydive-nav swiper-pagination">
    </div>
    <div class="skydive-cont swiper-wrapper">
        <div class="swiper-slide"><img src="img/skydive1.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-l">
                <h2>双人高空跳伞</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
        <div class="swiper-slide"><img src="img/skydive2.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-r">
                <h2>单人跳伞培训</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
        <div class="swiper-slide"><img src="img/skydive3.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-l">
                <h2>USPA执照</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
        <div class="swiper-slide"><img src="img/skydive4.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-r">
                <h2>翼装飞行培训</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
        <div class="swiper-slide"><img src="img/skydive5.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-l">
                <h2>双人跳伞培训</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
        <div class="swiper-slide"><img src="img/skydive6.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-r">
                <h2>低空巡游</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-title2"></div>
<div class="coachteam" id="swiper3">

</div>
<script type="text/javascript" src="js/sea.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>