<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
    <title>鹰飞</title>
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/eglefly.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="dns-prefetch" href="http://v.huya.com">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body>
<% include partial/header %>

<div class="col-title1"></div>
<div class="skydive swiper-container"  id="swiper2">
    <div class="skydive-nav swiper-pagination">
    </div>
    <div class="skydive-cont swiper-wrapper">
        <div class="swiper-slide"><img src="img/skydive1.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-l">
                <h2>双人高空跳伞</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
        <div class="swiper-slide"><img src="img/skydive2.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-r">
                <h2>单人跳伞培训</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
        <div class="swiper-slide"><img src="img/skydive3.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-l">
                <h2>USPA执照</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
        <div class="swiper-slide"><img src="img/skydive4.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-r">
                <h2>翼装飞行培训</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
        <div class="swiper-slide"><img src="img/skydive5.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-l">
                <h2>双人跳伞培训</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
        <div class="swiper-slide"><img src="img/skydive6.jpg" alt="">
            <div class="sky-cont-intro sky-cont-intro-r">
                <h2>低空巡游</h2>
                <div class="line"></div>
                <p>和教练绑在一起<br>
                    4000米高空<br>
                    非常安全的跳伞体验方式
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col-title2"></div>
<div class="coachteam">
    <div class="coach-preview main">
        <a class="prev-btn"></a>
        <div class="swiper-container">
            <ul class="coach-preview-wrap swiper-wrapper">
                <li class="swiper-slide preview-on"><img src="img/coach1.jpg" alt="">
                    <div class="coach-prevew-bg">邓子浩</div>
                </li>
                <li class="swiper-slide"><img src="img/coach2.jpg" alt="">
                    <div class="coach-prevew-bg">邓子浩2</div>
                </li>
                <li class="swiper-slide"><img src="img/coach3.jpg" alt="">
                    <div class="coach-prevew-bg">邓子浩3</div>
                </li>
                <li class="swiper-slide"><img src="img/coach4.jpg" alt="">
                    <div class="coach-prevew-bg">邓子浩4</div>
                </li>
                <li class="swiper-slide"><img src="img/coach5.jpg" alt="">
                    <div class="coach-prevew-bg">邓子浩5</div>
                </li>
                <li class="swiper-slide"><img src="img/coach6.jpg" alt="">
                    <div class="coach-prevew-bg">邓子浩6</div>
                </li>
                <li class="swiper-slide"><img src="img/coach1.jpg" alt="">
                    <div class="coach-prevew-bg">邓子浩7</div>
                </li>
                <li class="swiper-slide"><img src="img/coach2.jpg" alt="">
                    <div class="coach-prevew-bg">邓子浩8</div>
                </li>
            </ul>
        </div>
        <a class="next-btn"></a>
    </div>
    <div class="coach-view">
        <div class="prev-hidden-btn"></div>
        <div class="next-hidden-btn"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/coach-d1.jpg" alt="">
                    <div class="coach-detail">
                        <h3>邓子浩教练</h3>
                        <div class="line"></div>
                        <p>国籍：澳大利亚华人<br>
                            职业：职业跳伞教练，前澳大利亚乒乓球国手。<br>
                            成绩：<br>
                            2015澳大利亚44人造型跳伞记录。<br>
                            2012年澳大利亚全国八人造型冠军。<br>
                            2012代表澳大利亚参加世界跳伞锦标赛。<br>
                            2010年澳大利亚112人自由落体造型纪录。<br>
                            2008年17人翼装造型记录。<br>
                            邓子浩是来自澳大利亚凯恩斯有名的双语专业跳伞教练。邓教练从事跳伞行业8年多，至今已跳伞3900次，羽翼跳伞100多次，拥有AFF 和 双人伞教练资质。他不仅是前澳大利亚乒乓球国手，还拥有博士学位和商业飞行驾照。飞行时间1050小时。</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/coach-d1.jpg" alt="">
                    <div class="coach-detail">
                        <h3>邓子浩2教练</h3>
                        <div class="line"></div>
                        <p>国籍：澳大利亚华人<br>
                            职业：职业跳伞教练，前澳大利亚乒乓球国手。<br>
                            成绩：<br>
                            2015澳大利亚44人造型跳伞记录。<br>
                            2012年澳大利亚全国八人造型冠军。<br>
                            2012代表澳大利亚参加世界跳伞锦标赛。<br>
                            2010年澳大利亚112人自由落体造型纪录。<br>
                            2008年17人翼装造型记录。<br>
                            邓子浩是来自澳大利亚凯恩斯有名的双语专业跳伞教练。邓教练从事跳伞行业8年多，至今已跳伞3900次，羽翼跳伞100多次，拥有AFF 和 双人伞教练资质。他不仅是前澳大利亚乒乓球国手，还拥有博士学位和商业飞行驾照。飞行时间1050小时。</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/coach-d1.jpg" alt="">
                    <div class="coach-detail">
                        <h3>邓子浩3教练</h3>
                        <div class="line"></div>
                        <p>国籍：澳大利亚华人<br>
                            职业：职业跳伞教练，前澳大利亚乒乓球国手。<br>
                            成绩：<br>
                            2015澳大利亚44人造型跳伞记录。<br>
                            2012年澳大利亚全国八人造型冠军。<br>
                            2012代表澳大利亚参加世界跳伞锦标赛。<br>
                            2010年澳大利亚112人自由落体造型纪录。<br>
                            2008年17人翼装造型记录。<br>
                            邓子浩是来自澳大利亚凯恩斯有名的双语专业跳伞教练。邓教练从事跳伞行业8年多，至今已跳伞3900次，羽翼跳伞100多次，拥有AFF 和 双人伞教练资质。他不仅是前澳大利亚乒乓球国手，还拥有博士学位和商业飞行驾照。飞行时间1050小时。</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/coach-d1.jpg" alt="">
                    <div class="coach-detail">
                        <h3>邓子浩4教练</h3>
                        <div class="line"></div>
                        <p>国籍：澳大利亚华人<br>
                            职业：职业跳伞教练，前澳大利亚乒乓球国手。<br>
                            成绩：<br>
                            2015澳大利亚44人造型跳伞记录。<br>
                            2012年澳大利亚全国八人造型冠军。<br>
                            2012代表澳大利亚参加世界跳伞锦标赛。<br>
                            2010年澳大利亚112人自由落体造型纪录。<br>
                            2008年17人翼装造型记录。<br>
                            邓子浩是来自澳大利亚凯恩斯有名的双语专业跳伞教练。邓教练从事跳伞行业8年多，至今已跳伞3900次，羽翼跳伞100多次，拥有AFF 和 双人伞教练资质。他不仅是前澳大利亚乒乓球国手，还拥有博士学位和商业飞行驾照。飞行时间1050小时。</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/coach-d1.jpg" alt="">
                    <div class="coach-detail">
                        <h3>邓子浩5教练</h3>
                        <div class="line"></div>
                        <p>国籍：澳大利亚华人<br>
                            职业：职业跳伞教练，前澳大利亚乒乓球国手。<br>
                            成绩：<br>
                            2015澳大利亚44人造型跳伞记录。<br>
                            2012年澳大利亚全国八人造型冠军。<br>
                            2012代表澳大利亚参加世界跳伞锦标赛。<br>
                            2010年澳大利亚112人自由落体造型纪录。<br>
                            2008年17人翼装造型记录。<br>
                            邓子浩是来自澳大利亚凯恩斯有名的双语专业跳伞教练。邓教练从事跳伞行业8年多，至今已跳伞3900次，羽翼跳伞100多次，拥有AFF 和 双人伞教练资质。他不仅是前澳大利亚乒乓球国手，还拥有博士学位和商业飞行驾照。飞行时间1050小时。</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/coach-d1.jpg" alt="">
                    <div class="coach-detail">
                        <h3>邓子浩6教练</h3>
                        <div class="line"></div>
                        <p>国籍：澳大利亚华人<br>
                            职业：职业跳伞教练，前澳大利亚乒乓球国手。<br>
                            成绩：<br>
                            2015澳大利亚44人造型跳伞记录。<br>
                            2012年澳大利亚全国八人造型冠军。<br>
                            2012代表澳大利亚参加世界跳伞锦标赛。<br>
                            2010年澳大利亚112人自由落体造型纪录。<br>
                            2008年17人翼装造型记录。<br>
                            邓子浩是来自澳大利亚凯恩斯有名的双语专业跳伞教练。邓教练从事跳伞行业8年多，至今已跳伞3900次，羽翼跳伞100多次，拥有AFF 和 双人伞教练资质。他不仅是前澳大利亚乒乓球国手，还拥有博士学位和商业飞行驾照。飞行时间1050小时。</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/coach-d1.jpg" alt="">
                    <div class="coach-detail">
                        <h3>邓子浩7教练</h3>
                        <div class="line"></div>
                        <p>国籍：澳大利亚华人<br>
                            职业：职业跳伞教练，前澳大利亚乒乓球国手。<br>
                            成绩：<br>
                            2015澳大利亚44人造型跳伞记录。<br>
                            2012年澳大利亚全国八人造型冠军。<br>
                            2012代表澳大利亚参加世界跳伞锦标赛。<br>
                            2010年澳大利亚112人自由落体造型纪录。<br>
                            2008年17人翼装造型记录。<br>
                            邓子浩是来自澳大利亚凯恩斯有名的双语专业跳伞教练。邓教练从事跳伞行业8年多，至今已跳伞3900次，羽翼跳伞100多次，拥有AFF 和 双人伞教练资质。他不仅是前澳大利亚乒乓球国手，还拥有博士学位和商业飞行驾照。飞行时间1050小时。</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="img/coach-d1.jpg" alt="">
                    <div class="coach-detail">
                        <h3>邓子浩8教练</h3>
                        <div class="line"></div>
                        <p>国籍：澳大利亚华人<br>
                            职业：职业跳伞教练，前澳大利亚乒乓球国手。<br>
                            成绩：<br>
                            2015澳大利亚44人造型跳伞记录。<br>
                            2012年澳大利亚全国八人造型冠军。<br>
                            2012代表澳大利亚参加世界跳伞锦标赛。<br>
                            2010年澳大利亚112人自由落体造型纪录。<br>
                            2008年17人翼装造型记录。<br>
                            邓子浩是来自澳大利亚凯恩斯有名的双语专业跳伞教练。邓教练从事跳伞行业8年多，至今已跳伞3900次，羽翼跳伞100多次，拥有AFF 和 双人伞教练资质。他不仅是前澳大利亚乒乓球国手，还拥有博士学位和商业飞行驾照。飞行时间1050小时。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="js/sea.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>