header {
  width: 100%;
  margin-bottom:90px;
}
nav{
  position: absolute;
  width: 100%;
  top:0;
  z-index: 999;
  &.nav-fixed{
    position: fixed;
  }
  .logo{
    display: block;
    width: 130px;
    height: 130px;
    background: #fff;
    position: relative;
    float:left;
    @extend %ani;
    img{
      display: block;
      width: 114px;
      height: 114px;
      position: absolute;
      left:50%;
      top:50%;
      margin-left:-57px;
      margin-top:-57px;
      @extend %ani;
    }
  }
  p{
    float:right;
    color: #fff;
    font-size: 18px;
    padding-top:56px;
    @extend %ani;
    font-weight: 600;
  }
}
.nav-link{
  float:left;
  height: 90px;
  margin-left:30px;
  @extend %ani;
  li{
    float:left;
    position: relative;
    a.nav-link-btn{
      display: block;
      color:#fff;
      font-size: 16px;
      text-align: center;
      @extend %ani;
      width: 120px;
      padding: 56px 0 0;
    }
    ul{
      display: none;
      width: 120px;
      margin: 0 auto;
      li{
        float:none;
        border-bottom:1px solid #e7e7e7;
        &:last-child{
          border-bottom:0;
        }
      }
      a{
        display: block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #036eb6;
        font-size: 14px;
        background: #fff;
        &:hover{
          color: #333333;
        }
      }
    }
    &:hover{
      ul{
        display: block;
      }
    }

  }
}
.nav-on{
  background: #fff;
  height: 90px;
  p{
    padding-top: 0;
    line-height: 90px;
    height: 90px;
    color: #036eb6;
  }
  .logo{
    width: 90px;
    height: 90px;
    img{
      width: 90px;
      height: 90px;
      margin-left:-45px;
      margin-top:-45px;
    }
  }
  .nav-link{
    margin-left:70px;
    li{
      a.nav-link-btn{
        color: #036eb6;
        padding-top: 0;
        line-height: 90px;
        height: 90px;
      }
      &:hover{
        a.nav-link-btn{
          color: #f6b226;
        }
      }
    }
  }
}
.banner-wrap{
  width: 100%;
  height: 828px;
  position: relative;
  .swiper-container{
    position: relative;
    z-index: 80;
    li{
      width: 100%;
      height: 828px;
      overflow: hidden;
      position: relative;
      img{
        display: block;
        width: 1920px;
        position: absolute;
        left:50%;
        margin-left:-960px;
        top:0;
      }
    }
  }
}
.banner-bottom{
  width: 100%;
  height: 70px;
  position: absolute;
  bottom:0;
  left:0;
  background: url(../img/bg1.png) no-repeat center bottom;
  z-index: 99;
}
.banner-title1{
  @extend %banner-text1;
  position: absolute;
  top:286px;
  left:50%;
  margin-left:-36px;
  z-index: 100;
}
.contact-num{
  width: 463px;
  height: 75px;
  line-height: 75px;
  box-sizing: border-box;
  border:2px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 28px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left:50%;
  bottom:50px;
  margin-left:-232px;
  z-index: 100;
}
.art{
  header,.banner-wrap{
    height: 480px;
    overflow: hidden;
  }
  header {
    margin-bottom:22px;
  }
  .banner-wrap{
    img{
      position: absolute;
      bottom:-65px;
      width: 1920px;
      left:50%;
      margin-left:-960px;
    }
    .banner-title1{
      top:115px;
    }
  }
}
.aside-bar{
  box-sizing: border-box;
  width: 100px;
  border:1px solid #ddd;
  position: fixed;
  left:50%;
  margin-left:-690px;
  z-index: 1001;
  top:300px;
  background: #fff;
  a{
    display: block;
    width: 100%;
    height: 58px;
    line-height: 58px;
    text-align: center;
    color: #000;
    font-size: 16px;
    border-bottom:1px solid #e7e7e7;
    @extend %ani;
    &:hover{
      background: #036eb6;
      color: #fff;
    }
    &#gotop{
      height: 58-18px;
      cursor:pointer;
      i{
        display: block;
        @extend %top;
        margin: 18px auto 0;
      }
      &:hover{
        background: none;
        color: #000;
      }
    }
  }
  .qrcode{
    color: #000;
    font-size: 16px;
    text-align: center;
    padding: 20px 0 5px;
    img{
      display: block;
      margin: 15px auto 0;
    }
  }
}