<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
	<title>鹰飞跳伞</title>
    <meta name="Keywords" content="鹰飞跳伞,鹰飞,跳伞,高空跳伞,双人跳伞,单人跳伞,USPA证,翼装飞行,跳伞基地,极限运动">
    <meta name="description" content="作为国内最专业的跳伞基地,培训基地。这里有专业教练团队、全外籍教练、国外最先进的跳伞装备、最专业的单人跳伞培训、国内最多跳伞者聚集地。浓厚跳伞交流氛围在这里等着你。">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=750,user-scalable=0">
    
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>
<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>跳伞学习</p>
            <blockquote>SKYDIVE</blockquote>
        </div>
        <ul>
            <li><a href="drtsty.html">单人跳伞体验</a></li>
			<li class="current"><a href="drts.html">单人跳伞培训</a></li>
            <li><a href="uspa.html">USPA执照介绍</a></li>
            <li><a href="tsjlpx.html">跳伞教练培训</a></li>
            <li><a href="yzfxpx.html">翼装飞行培训</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 跳伞学习 > <span>单人跳伞培训</span></div>
        <article>
            <h1>鹰飞单人跳伞培训介绍</h1>
            <blockquote>发布时间：2017-01-01</blockquote>
            <p>你是否觉得双人跳伞的体验已经不能满足你了？是不是想来点更刺激的，也想尝试一下自己跳出飞机，在空中自由飞翔的独特体验呢？</p>
			<p><img src="img/1705/2017000018.jpg"></p>
            <p>​跳伞是完成你飞翔梦想最简单和最安全的方式，没有之一！如飞鸟般漂浮在15000英尺的高空，在离宇宙最近的距离自由落体，从开普敦的海岸线到澳洲大堡礁、从迪拜棕榈岛到西班牙巴塞罗那、从比利牛斯山到阿尔比斯山，这些风景名胜都有Drop Zone（跳伞基地）。想要去这些基地单人跳伞，只完成AFF课程是不够的，这时候你就需要一本跳伞执照来帮你完成这些愿望。</p>
			<p><img src="img/1705/2017000019.jpg"></p>
            <p>鹰飞是全国唯一能签发美国跳伞协会认证的USPA跳伞证的跳伞基地，欢迎有兴趣的朋友，来鹰飞学跳伞，目前已经毕业了10多个学员。</p>
            <p><strong>套餐价格</strong></p>
            <p>45600元，包含30次跳伞，每次都有大神级教练全程护航，保证你的安全。</p>
			<p><img src="img/1705/2017000020.jpg"></p>
            <p>平均每次跳伞才1500元，超值！</p>
            <p><strong>培训内容</strong></p>
            <p>两天地面课程培训。</p>
            <p>包含至少两天的地面课程培训和地面的模拟训练。这些培训可以帮助您全面的认识跳伞运动，了解跳伞基础理论、操作程序和安全规定。（可以根据情况进行中英双语教学）</p>
            <p><img src="img/1705/2017000021.jpg"></p>
            <p>包含30次空中培训。</p>
            <p>地面课程培训完毕后，接下来开始空中培训，您将会在教练的带领下进行单人跳伞。每次跳伞都会有经验丰富的教练陪同，确保您空中的安全。前期是两个教练陪同，超级VIP的待遇。</p>
			<p><img src="img/1705/2017000023.jpg"></p>
            <p><strong>颁发毕业证书</strong></p>
            <p>考试通过后，将会颁发USPA认证的毕业证书，证明您已经具备单人跳伞的能力。</p>
            <p><strong>培训时间：</strong></p>
            <p>一般需要10-20天，根据个人情况有所不同。</p>
            <p><strong>最专业的单人培训：</strong></p>
            <p>我们独创了中英双语结合的培训课程，满足不同学员的要求。目前总共签发USPA各级执照（含教练执照）20多份。<br />
            </p>
			<p><img src="img/1705/2017000022.jpg"></p>
            <p><strong>专业的团队</strong></p>
            <p>主教练邓子浩，是来自澳大利亚凯恩斯有名的双语专业跳伞教练。邓教练从事跳伞行业8年多，至今已跳伞4500多次，翼装跳伞100多次，拥有AFF 和双人伞教练资质。他不仅是前澳大利亚乒乓球国手，还拥有博士学位和商业飞行驾照。飞行时间1200小时。 </p>
			<p><img src="img/1705/2017000008.jpg"></p>
            <p>我们是国内第一家全部聘请外籍资深教练进行跳伞的公司。所有教练通过全球最严格的跳伞协会认证。我们的双人伞教练的双人跳伞次数最低都超过4000次。</p>
			<p><img src="img/1705/2017000024.jpg"></p>

            <p><strong>最专业的设备</strong></p>
            <p> 我们使用全新的国际顶级跳伞装备，所有装备已在美国跳伞协会认证的厂家通过严格的测试。 我们是国内第一家全程使用有全球多功能机之王称号的PC-6飞机进行跳伞的公司。为了给客户更好的跳伞体验，我们对飞机进行了特殊改装，对飞行员进行了特别培训。飞机研发制造企业瑞士皮拉图斯集团是我们的合作伙伴，给予我们有关飞行最全面的保障。 </p>
			<p><img src="img/1705/2017000025.jpg"></p>

            <p><strong>特别说明</strong></p>
            <p>培训期间的食宿费用需要自理，基地可以提供学员宿舍，100元/天。</p>
            <p>如果学员在培训期间，达不到单人跳伞的基本要求，主教练有权中断培训课程。</p>
        </article>
    </section>
</div>
<% include partial/footer %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>