<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
	<title>鹰飞跳伞</title>
    <meta name="Keywords" content="鹰飞跳伞,鹰飞,跳伞,高空跳伞,双人跳伞,单人跳伞,USPA证,翼装飞行,跳伞基地,极限运动">
    <meta name="description" content="作为国内最专业的跳伞基地,培训基地。这里有专业教练团队、全外籍教练、国外最先进的跳伞装备、最专业的单人跳伞培训、国内最多跳伞者聚集地。浓厚跳伞交流氛围在这里等着你。">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=750,user-scalable=0">
    
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>
<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>跳伞基地</p>
            <blockquote>Drop Zone</blockquote>
        </div>
        <ul>		
			<li class="current"><a href="gdluoding.html">广东罗定</a></li>
            <li><a href="sdlaiwu.html">山东莱芜</a></li>
            <li><a href="yndali.html">云南大理</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 跳伞基地 > <span>广东罗定</span></div>
        <article>
            <h1>鹰飞跳伞广东基地介绍</h1>
            <blockquote>发布时间：2017-01-01</blockquote>

                        <p><img src="img/1705/2017000040.jpg"></p>		
                        <p><strong>详细地址：</strong>广东省罗定市罗定机场内</p>

                        <p><strong>交通情况：</strong></p>
                        <p>罗定市距深圳，广州，珠海等主要城市大约2到3小时车程。</p>
                        <p>广州白云机场每天有12班直达云浮的机场大巴，最晚发车时间是21点。</p>
                        <p>可以选择乘坐全国的高铁直达云浮市，然后到汽车站乘坐汽车到罗定。罗定汽车站地址：罗定市罗城镇工业一路78号。咨询电话：0766-3882036</p>

                        <p> <strong>周边旅游：</strong></p>

                        <p>罗定市凤阳古村、八排山、聚龙洞、长岗坡渡槽、蔡廷锴将军故居、龙湾自然生态村</p>

                        <p><strong>罗定气候：</strong></p>
                        <p>罗定市位于广东省的西部，属南亚热带季风气候，夏长无严冬，气温偏高，热量丰富，春秋暖和。平均气温在22.10℃之间，一年四季都适合跳伞。</p>	

						
        </article>
    </section>
</div>
<% include partial/footer %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>