<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
    <title>鹰飞</title>
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>
<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>图片视频</p>
            <blockquote>Photo&Video</blockquote>
        </div>
        <ul>
            <li class="current"><a href="img.html">跳伞图片</a></li>
            <li><a href="video.html">跳伞视频</a></li>
            <li><a href="story.html">跳伞故事</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 双人高空跳伞 > <span>双人跳伞</span></div>
        <ul class="moment" id="list2">
            <li><a data-href=""><img src="img/video-1.jpg" alt=""><div><i></i></div>
                    <p>让跳伞成为时尚，让勇敢流行起来</p>
                    <blockquote>2017-01-01</blockquote>
                </a></li>
            <li><a data-href=""><img src="img/video-2.jpg" alt=""><div><i></i></div>
                    <p>妹子跳伞庆祝18岁生日</p>
                    <blockquote>2017-01-01</blockquote>
                </a></li>
            <li><a data-href=""><img src="img/video-3.jpg" alt=""><div><i></i></div>
                    <p>裸身高空跳伞，鹰飞学员100跳的独特庆祝</p>
                    <blockquote>2017-01-01</blockquote>
                </a></li>
            <li><a data-href=""><img src="img/video-4.jpg" alt=""><div><i></i></div>
                    <p>新年在4000米高空抢红包，刺激又欢乐</p>
                    <blockquote>2017-01-01</blockquote>
                </a></li>
        </ul>
        <div class="page-nav"></div>
    </section>
</div>
<% include partial/footer %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>