<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
	<title>鹰飞跳伞</title>
    <meta name="Keywords" content="鹰飞跳伞,鹰飞,跳伞,高空跳伞,双人跳伞,单人跳伞,USPA证,翼装飞行,跳伞基地,极限运动">
    <meta name="description" content="作为国内最专业的跳伞基地,培训基地。这里有专业教练团队、全外籍教练、国外最先进的跳伞装备、最专业的单人跳伞培训、国内最多跳伞者聚集地。浓厚跳伞交流氛围在这里等着你。">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750,user-scalable=0">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>
<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>跳伞基地</p>
            <blockquote>Drop Zone</blockquote>
        </div>
        <ul>		
			<li class="current"><a href="gdluoding.html">广东罗定</a></li>
            <li><a href="sdlaiwu.html">山东莱芜</a></li>
            <li><a href="yndali.html">云南大理</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 跳伞基地 > <span>山东莱芜</span></div>
        <article>
            <h1>鹰飞跳伞山东基地介绍</h1>
            <blockquote>发布时间：2017-01-01</blockquote>

                        <p><img src="tu/1705/2017000043.jpg"></p>		
                        <p><strong>基地位置：</strong></p>
                        <p>新基地就在莱芜的雪野湖景区内，位于莱芜市区北部25公里处，雪野湖三面环山，形成湖光山色的秀美风光。</p>

                        <p><strong>交通情况：</strong></p>
                        <p>从济南到雪野湖仅有1个小时左右车程，交通十分便利。</p>
                        <p>北京坐高铁到济南仅需1个半小时。</p>

                        <p><strong>周边景点：</strong></p>
                        <p>附近有雪野水库，雪野三峡。</p>
                        <p>稍微远一点还有著名的泰山和青岛，跳完伞去爬爬泰山，或者去海边晒晒太阳，也是不错的选择哦。</p>

						<p><img src="tu/1705/2017000010.jpg"></p>	

						
        </article>
    </section>
</div>
<% include partial/footer %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>