<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
	<title>鹰飞跳伞</title>
    <meta name="Keywords" content="鹰飞跳伞,鹰飞,跳伞,高空跳伞,双人跳伞,单人跳伞,USPA证,翼装飞行,跳伞基地,极限运动">
    <meta name="description" content="作为国内最专业的跳伞基地,培训基地。这里有专业教练团队、全外籍教练、国外最先进的跳伞装备、最专业的单人跳伞培训、国内最多跳伞者聚集地。浓厚跳伞交流氛围在这里等着你。">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750,user-scalable=0">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>
<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>教练团队</p>
            <blockquote>Instractor</blockquote>
        </div>
        <ul>		
            <li><a href="zjl.html">基地主教练</a></li>
			<li class="current"><a href="srsjl.html">双人伞教练</a></li>
            <li><a href="zljl.html">助理教练</a></li>
            <li><a href="sxs.html">高空摄像师</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 教练团队 > <span>双人伞教练</span></div>
        <article>
            <h1>鹰飞双人伞教练介绍</h1>
            <blockquote>发布时间：2017-01-01</blockquote>

                        	
                        <p>澳大利亚华人教练</p>
						<p><img src="tu/1705/2017000028.jpg"></p>	
                        <p>主教练邓子浩，是来自澳大利亚凯恩斯有名的双语专业跳伞教练。邓教练从事跳伞行业8年多，至今已跳伞4500多次，翼装跳伞100多次，拥有AFF 和双人伞教练资质。他不仅是前澳大利亚乒乓球国手，还拥有博士学位和商业飞行驾照。飞行时间1200小时。</p>
                        <p>成绩：</p>
                        <p>2015澳大利亚44人造型跳伞记录。</p>
                        <p>2012年澳大利亚全国八人造型冠军。</p>
                        <p>2012代表澳大利亚参加世界跳伞锦标赛。</p>
                        <p>2010年澳大利亚112人自由落体造型纪录。</p>
                        <p>2008年17人翼装造型记录。</p>
						
                        <p>SAM，新西兰教练</p>
						<p><img src="tu/1705/2017000029.jpg"></p>	
						
                        <p>BRIAN，加拿大教练</p>
						<p><img src="tu/1705/2017000030.jpg"></p>	
                        <p>2014年  美国蒙特利湾跳伞基地取得AFF教练资格和双人伞教练资格</p>	
						<p>2015年  澳大利亚悉尼跳伞基地双人伞教练</p>	
						<p>			布莱恩是美国跳伞协会会员，至今已有3500多跳，包括3千次双人跳伞，500多次AFF跳伞。布莱恩组建了一个跳伞组织，拥有400多个成员并举办了9个国际跳伞活动。</p>	
						
                        <p>DAN，英国教练</p>
						<p><img src="tu/1705/2017000031.jpg"></p>	
                        <p>2013年  英国完成AFF课程</p>
						<p>2014年  澳大利亚完成AFF和双人伞课程并取得双人伞教练资格。</p>
						<p>丹尼尔在世界很多跳伞基地有过跳伞经验，至今已有2千多次跳伞包括1700次双人跳伞及200多次AFF</p>
						
                        <p>JACK，澳大利亚教练</p>
						<p><img src="tu/1705/2017000032.jpg"></p>	
                        <p>2014年4月11日在悉尼跳伞基地培训，取得叠伞B执照。</p>
						<p>2015年5月21日 取得澳大利亚跳伞协会AFF教练和双人伞教练资格。在凯恩斯跳伞基地担当双人伞教练和AFF教练。</p>
						<p>杰克是美国跳伞协会和澳大利亚跳伞协会的会员。至今已有近3千跳，包括2千次双人伞和3百多次AFF跳伞及翼装飞行经验。</p>
						
                        <p>BEN，法国教练</p>
						<p><img src="tu/1705/2017000033.jpg"></p>	
						
                        <p>SOOTAEK，法国教练</p>
						<p><img src="tu/1705/2017000034.jpg"></p>				
                        <p>于2000年开始特技跳伞运动生涯，现已在澳大利亚悉尼高空跳伞公司工作近9年，并在韩国首尔跳伞学校担任双人跳伞教练，AFF教练以及自由飞行教练。</p>

                        <p>总共跳伞12860次（其中9000多次双人跳伞，900多次AFF特技跳伞，300多次 带相机高空跳伞，1300多次自由飞行跳伞以及300多次四向高空跳伞（2017年2月27日）隧道飞行总时间：61+ 小时（2017年2月27日）</p>

                        <p>2008年	荣获2008年韩国特种部队四向队形特技跳伞竞赛冠军。</p>
                        <p>2008年	于UAE以韩国FS四向跳伞队参加第十二届亚洲跳伞锦标赛。</p>
                        <p>2008年至今	于澳大利亚新南威尔士州悉尼高空跳伞公司担任AFF及双人跳伞教练，带相机高空跳伞员以及自由飞行教练。</p>
                        <p>2010年澳大利亚全国冠军；FS十六向队形亚军（Mandulbomb跳伞队）。</p>
                        <p>2015年Ifly Downunder双向自由飞行冠军。</p>
						
                        <p>Daisy，台湾教练</p>
						<p><img src="tu/1705/2017000035.jpg"></p>		
						<p>2014年-2016年   在新西兰，澳大利亚跳伞及匈牙利等多国跳伞基地担任地面安全官，叠伞员及第三方拍摄。 </p>
						<p>2016年8月 取得美国跳伞协会助教执照 </p>
						<p>Daisy至今已累计1000多次跳伞，擅长造型跳伞。</p>
						
        </article>
    </section>
</div>
<% include partial/footer %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>