<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
	<title>鹰飞跳伞</title>
    <meta name="Keywords" content="鹰飞跳伞,鹰飞,跳伞,高空跳伞,双人跳伞,单人跳伞,USPA证,翼装飞行,跳伞基地,极限运动">
    <meta name="description" content="作为国内最专业的跳伞基地,培训基地。这里有专业教练团队、全外籍教练、国外最先进的跳伞装备、最专业的单人跳伞培训、国内最多跳伞者聚集地。浓厚跳伞交流氛围在这里等着你。">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750,user-scalable=0">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>


<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>图片视频</p>
            <blockquote>Photo&Video</blockquote>
        </div>
        <ul>
            <li><a href="img.html">跳伞图片</a></li>
            <li><a href="video.html">跳伞视频</a></li>
            <li class="current"><a href="story.html">跳伞故事</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 图片视频 > <span>跳伞故事</span></div>
        <ul class="story-link" id="list">
            <li><a href="https://mp.weixin.qq.com/s?__biz=MzI3ODAwMjIwMg==&mid=2649947520&idx=1&sn=5795b4363dc9edf32512796681cfaf56&chksm=f35bf2f5c42c7be3696a44f27cf513709f71b10195369d536e96b13ec21d4d75d8b8d54ce851&mpshare=1&scene=1&srcid=0614dejoghf91uWvM8Vi7CUH&pass_ticket=KS0fEaZ2ATZlNgF1ORM7CN7n5K27JRwN6Hs9B5kEw%2BTMvLopsR5KMN8V8TpTSMNz#rd"><img src="img/story1.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>你有试过上天庆祝生日吗？有人在天上给你唱生日歌吗？我们可爱的妹子就勇敢的上天庆祝自己的18岁生日，而且还有妈妈的陪同哦！</p>
                    <span>晓彤</span></div>
            </li>
            <li><a href="https://mp.weixin.qq.com/s?__biz=MzI3ODAwMjIwMg==&mid=2649947573&idx=2&sn=57d948e1aaa10216c69ebfc3f8568149&chksm=f35bf2c0c42c7bd6866d03e0884f90a484ebc27d7a9be5962d79f4d174ede944cd284bd39869&mpshare=1&scene=1&srcid=0614mpjrNc1iNAP8mzyYs8Sk&pass_ticket=KS0fEaZ2ATZlNgF1ORM7CN7n5K27JRwN6Hs9B5kEw%2BTMvLopsR5KMN8V8TpTSMNz#rd"><img src="img/story2.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>高空跳伞属于极限运动，但并非只属于年前人的运动，老年人也可以享受飞翔的乐趣哦。因为双人跳伞，全程都是教练在操控。</p>
                    <span>67岁老人</span></div>
            </li>
            <li><a href="https://mp.weixin.qq.com/s?__biz=MzI3ODAwMjIwMg==&mid=2649947534&idx=2&sn=fe0ea8e10cf278e95a53bac84f56a270&chksm=f35bf2fbc42c7bedd015f4c91c9aa37639b473968755880aaa2fc171910c712dd72d47a678e1&mpshare=1&scene=1&srcid=06142qKXUcx4BHm8NielYugP&pass_ticket=KS0fEaZ2ATZlNgF1ORM7CN7n5K27JRwN6Hs9B5kEw%2BTMvLopsR5KMN8V8TpTSMNz#rd"><img src="img/story3.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>鹰飞跳伞学员中，又有人突破了100次跳伞了，为了庆祝这特殊的第100跳，他决定裸跳……裸跳……裸跳！</p>
                    <span>邱卓明</span></div>
            </li>
            <li><a href="https://mp.weixin.qq.com/s?__biz=MzI3ODAwMjIwMg==&mid=2649947211&idx=1&sn=e579433d4d19f906e6bdd5d4c2aac9a6&mpshare=1&scene=1&srcid=0614lWKf3ltYbaCrpfe0f45w&pass_ticket=KS0fEaZ2ATZlNgF1ORM7CN7n5K27JRwN6Hs9B5kEw%2BTMvLopsR5KMN8V8TpTSMNz#rd"><img src="img/story4.jpg" alt="">
                    <div class="story-link-hov"><span>详情</span></div>
                </a>
                <div class="story-link-detail">
                    <p><i></i>​他和她一起从高空跃下，拿出早已准备好的戒指，突然求婚。当戒指套在她的左手无名指上后，这是一份勇敢和坚定的爱情。</p>
                    <span>跳伞求婚</span></div>
            </li>

        </ul>
        <div class="page-nav"></div>
    </section>
</div>
<% include partial/footer %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>