<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
	<title>鹰飞跳伞</title>
    <meta name="Keywords" content="鹰飞跳伞,鹰飞,跳伞,高空跳伞,双人跳伞,单人跳伞,USPA证,翼装飞行,跳伞基地,极限运动">
    <meta name="description" content="作为国内最专业的跳伞基地,培训基地。这里有专业教练团队、全外籍教练、国外最先进的跳伞装备、最专业的单人跳伞培训、国内最多跳伞者聚集地。浓厚跳伞交流氛围在这里等着你。">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750,user-scalable=0">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>ascript:volid(0);" class="nav-link-btn">图片视频</a>
                    <ul>
                        <li><a href="img.html">跳伞图片</a></li>
                        <li><a href="video.html">精彩视频</a></li>
                        <li><a href="story.html">跳伞故事</a></li></ul>
                </li>
                <li><a href="javascript:volid(0);" class="nav-link-btn">关于鹰飞</a>
                    <ul>
                        <li><a href="gsjs.html">公司介绍</a></li>
                        <li><a href="lxwm.html">联系我们</a></li></ul>
                </li>
            </ul>
            <p>热线：400-668-2933</p>
        </div>
    </nav>
    <div class="banner-wrap">
        <img src="img/banner4.jpg" alt="">
        <div class="banner-title1"></div>
    </div>
</header>
<div class="aside-bar">
    <a id="gotop"><i></i></a>
    <a href="yuding.html">预约跳伞</a>
    <div class="qrcode">扫一扫微信 <img src="img/qrcode.jpg" alt=""></div>
</div>

<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>图片视频</p>
            <blockquote>Photo&Video</blockquote>
        </div>
        <ul>
            <li class="current"><a href="img.html">跳伞图片</a></li>
            <li><a href="video.html">跳伞视频</a></li>
            <li><a href="story.html">跳伞故事</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 双人高空跳伞 > <span>双人跳伞</span></div>
        <ul class="moment" id="list2">
            <li><a data-href=""><img src="img/video-1.jpg" onclick="this.width+=50;this.height+=50" onclick="javascript:window.open(this.src);" style="cursor:pointer;"/><div><i></i></div>
                    <p>让跳伞成为时尚，让勇敢流行起来</p>
                    <blockquote>2017-01-01</blockquote>
                </a></li>
				
				
	
				
				
            <li><a data-href=""><img src="img/video-1.jpg" onclick="this.style.zoom='2'" onclick="javascript:window.open(this.src);" style="cursor:pointer;"/><div><i></i></div>
                    <p>妹子跳伞庆祝18岁生日</p>
                    <blockquote>2017-01-01</blockquote>
                </a></li>
            <li><a data-href=""><img src="img/video-3.jpg" alt=""><div><i></i></div>
                    <p>裸身高空跳伞，鹰飞学员100跳的独特庆祝</p>
                    <blockquote>2017-01-01</blockquote>
                </a></li>
            <li><a data-href=""><img src="img/video-4.jpg" alt=""><div><i></i></div>
                    <p>新年在4000米高空抢红包，刺激又欢乐</p>
                    <blockquote>2017-01-01</blockquote>
                </a></li>
        </ul>
        <div class="page-nav"></div>
    </section>
</div>
<% include partial/footer %>
<div id="video-pop" class="hide"></div>
<div id="video-wrap"></div>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>