<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
	<title>鹰飞跳伞</title>
    <meta name="Keywords" content="鹰飞跳伞,鹰飞,跳伞,高空跳伞,双人跳伞,单人跳伞,USPA证,翼装飞行,跳伞基地,极限运动">
    <meta name="description" content="作为国内最专业的跳伞基地,培训基地。这里有专业教练团队、全外籍教练、国外最先进的跳伞装备、最专业的单人跳伞培训、国内最多跳伞者聚集地。浓厚跳伞交流氛围在这里等着你。">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750,user-scalable=0">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>

<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>跳伞学习</p>
            <blockquote>SKYDIVE</blockquote>
        </div>
        <ul>
            <li><a href="drtsty.html">单人跳伞体验</a></li>
			<li><a href="drts.html">单人跳伞培训</a></li>
            <li><a href="uspa.html">USPA执照介绍</a></li>
            <li class="current"><a href="tsjlpx.html">跳伞教练培训</a></li>
            <li><a href="yzfxpx.html">翼装飞行培训</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 跳伞学习 > <span>跳伞教练培训</span></div>
        <article>
            <h1>鹰飞跳伞教练培训</h1>
            <blockquote>发布时间：2017-01-01</blockquote>


            <p>鹰飞可以培训USPA助理教练和双人伞教练，主教练邓子浩是USPA双人伞教练考官，有资格颁发双人伞教练执照。</p>
            <p>有兴趣成为教练的跳伞爱好者，请来电咨询</p>

            <p>电话：400-668-2933</p>
            <p>微信：yftiaosan</p>
            <p>官网：www.yftiaosan.com</p>
            <p>地址：广东省罗定市</p>			
			
			
        </article>
    </section>
</div>
<footer>
    <div class="main">
        <div class="footer-link">
            <a href="" class="pr-0">首页</a>|
            <a href="">双人高空跳伞</a>|
            <a href="">跳伞学习</a>|
            <a href="">教练团队</a>|
            <a href="">跳伞基地</a>|
            <a href="">图片视频</a>|
            <a href="">关于鹰飞</a>
            <span>热线电话：400-668-2933</span>
        </div>
        <div class="footer-copyright">
            Copyright ©2005 - 2017 重庆鹰飞航空体育俱乐部有限公司罗定分公司  渝ICP备15010301号-1
            <div class="bdsharebuttonbox" id="bdshare"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        </div>
    </div>
</footer>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>