<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
	<title>鹰飞跳伞</title>
    <meta name="Keywords" content="鹰飞跳伞,鹰飞,跳伞,高空跳伞,双人跳伞,单人跳伞,USPA证,翼装飞行,跳伞基地,极限运动">
    <meta name="description" content="作为国内最专业的跳伞基地,培训基地。这里有专业教练团队、全外籍教练、国外最先进的跳伞装备、最专业的单人跳伞培训、国内最多跳伞者聚集地。浓厚跳伞交流氛围在这里等着你。">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750,user-scalable=0">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>
                
<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>跳伞学习</p>
            <blockquote>SKYDIVE</blockquote>
        </div>
        <ul>
            <li><a href="drtsty.html">单人跳伞体验</a></li>
			<li><a href="drts.html">单人跳伞培训</a></li>
            <li class="current"><a href="uspa.html">USPA执照介绍</a></li>
            <li><a href="tsjlpx.html">跳伞教练培训</a></li>
            <li><a href="yzfxpx.html">翼装飞行培训</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 跳伞学习 > <span>USPA执照介绍</span></div>
        <article>
            <h1>美国跳伞协会USPA执照介绍</h1>
            <blockquote>发布时间：2017-01-01</blockquote>


            <p>全世界很多国家都有自己的跳伞协会，这些跳伞协会可以向具备资格的会员签发跳伞执照。世界上最权威和规范的跳伞类组织在美国，简称是USPA，全名是 United States Parachute Association，即美国跳伞协会。</p>
            <p>美国人的冒险精神让USPA（美国跳伞协会）成为全世界会员最多、规模最大、基地范围最广、受认可程度最高的跳伞协会。拥有USPA签发的跳伞执照可以让你在全球绝大多数的跳伞基地畅通无阻的进行单人跳伞，目前USPA可以为跳伞者签发A/B/C/D共四级执照，从A级开始，各级执照会有不同的学习目标和考核要求。</p>	
			<p><img src="tu/1705/2017000026.jpg"></p>			

            <p>鹰飞是全国唯一能签发美国跳伞协会认证的USPA跳伞证的跳伞基地，欢迎有兴趣的朋友，来鹰飞学跳伞，目前已经毕业了10多个学员。</p>
			<p><img src="tu/1705/2017000019.jpg"></p>
						
        </article>
    </section>
</div>
<% include partial/footer %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>