<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
	<title>鹰飞跳伞</title>
    <meta name="Keywords" content="鹰飞跳伞,鹰飞,跳伞,高空跳伞,双人跳伞,单人跳伞,USPA证,翼装飞行,跳伞基地,极限运动">
    <meta name="description" content="作为国内最专业的跳伞基地,培训基地。这里有专业教练团队、全外籍教练、国外最先进的跳伞装备、最专业的单人跳伞培训、国内最多跳伞者聚集地。浓厚跳伞交流氛围在这里等着你。">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=750,user-scalable=0">
    
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>
<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>跳伞学习</p>
            <blockquote>SKYDIVE</blockquote>
        </div>
        <ul>
            <li><a href="drtsty.html">单人跳伞体验</a></li>
			<li><a href="drts.html">单人跳伞培训</a></li>
            <li><a href="uspa.html">USPA执照介绍</a></li>
            <li><a href="tsjlpx.html">跳伞教练培训</a></li>
            <li class="current"><a href="yzfxpx.html">翼装飞行培训</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 跳伞学习 > <span>翼装飞行培训</span></div>
        <article>
            <h1>鹰飞翼装飞行培训</h1>
            <blockquote>发布时间：2017-01-01</blockquote>


            <p>鹰飞主教练邓子浩，有上百次的翼装飞行经验，只要你达到翼装飞行需要的200次跳伞要求，就能教你如何飞行翼装。</p>
            <p>目前基地有多个翼装飞行的高手，有兴趣学习的跳伞爱好者，请来电咨询</p>

            <p>电话：400-668-2933</p>
            <p>微信：yftiaosan</p>
            <p>官网：www.yftiaosan.com</p>
            <p>地址：广东省罗定市</p>			
			
			
        </article>
    </section>
</div>
<% include partial/footer %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>