<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="utf-8">
	<title>鹰飞跳伞</title>
    <meta name="Keywords" content="鹰飞跳伞,鹰飞,跳伞,高空跳伞,双人跳伞,单人跳伞,USPA证,翼装飞行,跳伞基地,极限运动">
    <meta name="description" content="作为国内最专业的跳伞基地,培训基地。这里有专业教练团队、全外籍教练、国外最先进的跳伞装备、最专业的单人跳伞培训、国内最多跳伞者聚集地。浓厚跳伞交流氛围在这里等着你。">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <meta name="renderer" content="webkit">
    <meta name="front-end" content="MrF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750,user-scalable=0">
    <!--[if lt IE 9]>
    <script> (function(){ var tags=['header','footer','nav','section','article','aside'];for(var i in tags){document.createElement(tags[i]);}})()</script>
    <![endif]-->
</head>
<body class="art">
<% include partial/header2 %>
<div class="main clearfix">
    <aside>
        <div class="art-box">
            <p>教练团队</p>
            <blockquote>Instractor</blockquote>
        </div>
        <ul>		
            <li><a href="zjl.html">基地主教练</a></li>
			<li><a href="srsjl.html">双人伞教练</a></li>
            <li class="current"><a href="zljl.html">助理教练</a></li>
            <li><a href="sxs.html">高空摄像师</a></li>
        </ul>
    </aside>
    <section class="art-cont">
        <div class="art-bread">首页 > 教练团队 > <span>助理教练</span></div>
        <article>
            <h1>鹰飞助理教练介绍</h1>
            <blockquote>发布时间：2017-01-01</blockquote>

                        	
                        <p><strong>李奕霖（Lee）</strong></p>
						<p><img src="tu/1705/2017000041.jpg"></p>	
                        <p>2014年 泰国TSA取得USPA-A级执照</p>
						<p>2015年-2016年 鹰飞跳伞取得USPA-B/C级执照和助理教练资格</p>
						<p>老七至今已经累计500多次跳伞，擅长空中造型。</p>

						
                        <p><strong>胡勇</strong></p>
						<p><img src="tu/1705/2017000047.jpg"></p>							
                        <p>2014年 美国亚利桑那取得USPA-A级执照</p>
						<p>2015年 美国Perris取得B执照</p>
						<p>2016年 鹰飞跳伞取得C执照和Coach执照</p>
						<p>老胡至今已经累计跳伞400多次，多次翼装飞行。</p>

						
                        <p><strong>夏研（Terry Xia）</strong></p>
						<p><img src="tu/1705/2017000048.jpg"></p>	
						<p>2015年 泰国TSA取得A，B执照</p>
						<p>2016年 鹰飞跳伞取得C执照</p>
						<p>2016年 美国Perris跳伞基地取得助理教练资格</p>
						<p>2017年 美国SKYDIVE RATING跳伞基地取得AFF教练资格</p>
						<p>冰块是美国跳伞协会会员，至今有600多跳经验，工科硕士。 </p>				

						
        </article>
    </section>
</div>
<% include partial/footer %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6GPH52393juz7pT1rYLGWemlgIL6TWa8"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>