<footer>
    <div class="main">
        <div class="footer-link">
            <a href="index.html" class="pr-0">首页</a>|
            <a href="tandem.html">双人高空跳伞</a>|
            <a href="drts.html">跳伞学习</a>|
            <a href="srsjl.html">教练团队</a>|
            <a href="gdluoding.html">跳伞基地</a>|
            <a href="video.html">图片视频</a>|
            <a href="gsjs.html">关于鹰飞</a>
            <span>热线电话：400-668-2933</span>
        </div>
        <div class="footer-copyright">
            Copyright ©2005 - 2017 重庆鹰飞航空体育俱乐部有限公司罗定分公司  渝ICP备15010301号-1
            <div class="bdsharebuttonbox" id="bdshare"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        </div>
    </div>
</footer>