<header>
    <nav id="nav">
        <div class="main clearfix">
            <a href="" class="logo"><img src="img/logo.png" alt="鹰飞"></a>
            <ul class="nav-link">
                <li><a href="" class="nav-link-btn">首页</a></li>
                <li><a href="" class="nav-link-btn">双人高空跳伞</a>
                    <ul>
                        <li><a href="">双人跳伞</a></li>
                        <li><a href="">跳伞价格</a></li>
                        <li><a href="">常见问题</a></li>
                        <li><a href="">预定跳伞</a></li></ul>
                </li>
                <li><a href="" class="nav-link-btn">跳伞练习</a>
                    <ul>
                        <li><a href="">单人跳伞培训</a></li>
                        <li><a href="">USPA执照</a></li>
                        <li><a href="">助理教练培训</a></li>
                        <li><a href="">双人伞教练培训</a></li>
                        <li><a href="">翼装飞行培训</a></li></ul>
                </li>
                <li><a href="" class="nav-link-btn">教练团队</a>
                    <ul>
                        <li><a href="">基地主教练</a></li>
                        <li><a href="">双人伞教练</a></li>
                        <li><a href="">助理教练</a></li>
                        <li><a href="">高空摄像师</a></li></ul>
                </li>
                <li><a href="" class="nav-link-btn">跳伞基地</a>
                    <ul>
                        <li><a href="">广东罗定</a></li>
                        <li><a href="">山东莱芜</a></li>
                        <li><a href="">云南大理</a></li></ul>
                </li>
                <li><a href="" class="nav-link-btn">图片视频</a>
                    <ul>
                        <li><a href="">跳伞图片</a></li>
                        <li><a href="">精彩视频</a></li>
                        <li><a href="">跳伞故事</a></li></ul>
                </li>
                <li><a href="" class="nav-link-btn">关于鹰飞</a>
                    <ul>
                        <li><a href="">公司介绍</a></li>
                        <li><a href="">相关新闻</a></li>
                        <li><a href="">联系我们</a></li></ul>
                </li>
            </ul>
            <p>热线：4006 682 933</p>
        </div>
    </nav>
    <div class="banner-wrap">
        <div class="swiper-container">
            <ul class="banner swiper-wrapper" id="swiper1">
                <li class="swiper-slide"><img src="img/banner1.jpg" alt=""></li>
                <li class="swiper-slide"><img src="img/banner2.jpg" alt=""></li>
                <li class="swiper-slide"><img src="img/banner3.jpg" alt=""></li>
                <li class="swiper-slide"><img src="img/banner4.jpg" alt=""></li>
            </ul>
        </div>
        <div class="banner-title1"></div>
        <div class="contact-num">预定热线：<span>4006 682  933</span></div>
        <div class="banner-bottom"></div>
    </div>
</header>
