body{
  width: 100%;
  max-width:1920px;
  min-width:1180px;
}
.main{
  width: 1180px;
  margin: 0 auto;
}
.g-narrow{
  min-width: 960px;
  .art .main{
    width: 960px;
  }
  aside{
    width: 238px;
  }
  .art-cont{
    width: 960-238px;
  }
  .moment{
    margin-left:50px;
  }
}
